        <div class="steps step-2">
          <div class="notice">
            <p>{{ remodal.step2.notice[0] }}</p>
          </div>
          <div class="field field-input" id="fullname-container">
            <input
              type="text"
              placeholder="{{ remodal.step2.placeholders.fullname }} *"
              name="fullname"
            />
            <div class="error-text"></div>
          </div>
          <div class="field field-input" id="email-container">
            <input type="email" placeholder="{{ remodal.step2.placeholders.email }} *" name="email" />
            <div class="error-text"></div>
          </div>
          <div class="field field-input" id="emailconfirm-container">
            <input
              type="email"
              placeholder="{{ remodal.step2.placeholders.emailconfirm }} *"
              name="emailconfirm"
            />
            <div class="error-text"></div>
          </div>
          <!--
            <div class="field field-input" id="phone-container">
              <input type="text" placeholder="{{ remodal.step2.placeholders.phone }}" name="phone" />
            </div>
          -->
          <div class="field field-input" id="country"></div>
          <div class="field field-input" id="citizenship"></div>
        </div>