      <div class="section about" id="about">
        <div class="inner">
          <h2>{{ about.title }}</h2>
          <div class="benefits">
            <div class="row clear">
              <div class="col-6 icons icon-benefit-1">
                <h3>{{ about.benefits.a.head }}</h3>
                <p>{{ about.benefits.a.body }}</p>
              </div>
              <div class="col-6 icons icon-benefit-2">
                <h3>{{ about.benefits.b.head }}</h3>
                <p>{{ about.benefits.b.body }}</p>
              </div>
            </div>
            <div class="row clear">
              <div class="col-6 icons icon-benefit-3">
                <h3>{{ about.benefits.c.head }}</h3>
                <p>{{ about.benefits.c.body }}</p>
              </div>
              <div class="col-6 icons icon-benefit-4">
                <h3>{{ about.benefits.d.head }}</h3>
                <p>{{ about.benefits.d.body }}</p>
              </div>
            </div>
            <div class="row clear">
              <div class="col-6 icons icon-benefit-5">
                <h3>{{ about.benefits.e.head }}</h3>
                <p>{{ about.benefits.e.body }}</p>
              </div>
              <div class="col-6 icons icon-benefit-6">
                <h3>{{ about.benefits.f.head }}</h3>
                <p>{{ about.benefits.f.body }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>