      <div class="section about" id="about">
        <div class="inner">
          <h2>{{ about.about_title }}</h2>
          <div class="benefits">
            <div class="row clear">
              <div class="col-6 icons icon-benefit-1">
                <h3>{{ about.benefits.a.benefits_a_head }}</h3>
                <p>{{ about.benefits.a.benefits_a_body }}</p>
              </div>
              <div class="col-6 icons icon-benefit-2">
                <h3>{{ about.benefits.b.benefits_b_head }}</h3>
                <p>{{ about.benefits.b.benefits_b_body }}</p>
              </div>
            </div>
            <div class="row clear">
              <div class="col-6 icons icon-benefit-3">
                <h3>{{ about.benefits.c.benefits_c_head }}</h3>
                <p>{{ about.benefits.c.benefits_c_body }}</p>
              </div>
              <div class="col-6 icons icon-benefit-4">
                <h3>{{ about.benefits.d.benefits_d_head }}</h3>
                <p>{{ about.benefits.d.benefits_d_body }}</p>
              </div>
            </div>
            <div class="row clear">
              <div class="col-6 icons icon-benefit-5">
                <h3>{{ about.benefits.e.benefits_e_head }}</h3>
                <p>{{ about.benefits.e.benefits_e_body }}</p>
              </div>
              <div class="col-6 icons icon-benefit-6">
                <h3>{{ about.benefits.f.benefits_f_head }}</h3>
                <p>{{ about.benefits.f.benefits_f_body }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>