      <div class="section action">
        <div class="inner">
          <div class="text">
            <h1>{{ action.title }}</h1>
            <p>{{ action.subtitle[0] }} <br />{{ action.subtitle[1] }}</p>
          </div>
          <div class="counter hidden" id="counter-2">
            <div class="row clear">
              {% for unit in counterUnits %}<div class="col-3" id="counter-2-{{ unit.name }}">
                <div class="time"></div>
                <div class="title">{{ unit.title }}</div>
              </div>{% endfor %}
            </div>
          </div>
          <div class="link">
            <a href="https://sale.jibrel.network" class="button big" target="_blank">
              {{ action.link }}
            </a>
          </div>
        </div>
      </div>