      <div class="section action">
        <div class="inner">
            <div class="text">
                <h1>Tokenize Everything</h1>
                <p>Jibrel provides traditional financial assets, as ERC-20 tokens, <br />on the Ethereum blockchain</p>
            </div>
            <div class="counter">
                <div class="row clear">
                    <div class="col-3">
                        <div class="time">26</div>
                        <div class="title">Day</div>
                    </div>
                    <div class="col-3">
                        <div class="time">26</div>
                        <div class="title">Hour</div>
                    </div>
                    <div class="col-3">
                        <div class="time">26</div>
                        <div class="title">Min</div>
                    </div>
                    <div class="col-3">
                        <div class="time">26</div>
                        <div class="title">Sec</div>
                    </div>
                </div>
            </div>
            <div class="link">
                <a href="https://sale.jibrel.network" class="button big" target="_blank">Get Tokens</a>
            </div>
        </div>
      </div>