      <div class="section articles">
        <div class="inner">
          <div class="slider2">
            <div class="slide article">
              <div class="bg"></div>
              <div class="icon" style="background-image: url('assets/img/logos/1.svg')"></div>
              <div class="info">
                <div class="date">December 20, 2017</div>
                <a
                  class="title"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://cointelegraph.com/news/ethereum-backed-jibrel-aims-to-contain-ico-bubble-with-new-type-of-smart-tokens"
                >
                  Ethereum-Backed Jibrel Aims to Contain ICO Bubble with New Type of Smart Tokens
                </a>
              </div>
            </div>
            <div class="slide article">
              <div class="bg"></div>
              <div class="icon" style="background-image: url('assets/img/logos/2.svg')"></div>
              <div class="info">
                <div class="date">December 20, 2017</div>
                <a
                  class="title"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://cointelegraph.com/news/ethereum-backed-jibrel-aims-to-contain-ico-bubble-with-new-type-of-smart-tokens"
                >
                  Ethereum-Backed Jibrel Aims to Contain ICO Bubble with New Type of Smart Tokens
                </a>
              </div>
            </div>
            <div class="slide article">
              <div class="bg"></div>
              <div class="icon" style="background-image: url('assets/img/logos/3.svg')"></div>
              <div class="info">
                <div class="date">December 20, 2017</div>
                <a
                  class="title"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://cointelegraph.com/news/ethereum-backed-jibrel-aims-to-contain-ico-bubble-with-new-type-of-smart-tokens"
                >
                  Ethereum-Backed Jibrel Aims to Contain ICO Bubble with New Type of Smart Tokens
                </a>
              </div>
            </div>
            <div class="slide article">
              <div class="bg"></div>
              <div class="icon" style="background-image: url('assets/img/logos/4.svg')"></div>
              <div class="info">
                <div class="date">December 20, 2017</div>
                <a
                  class="title"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://cointelegraph.com/news/ethereum-backed-jibrel-aims-to-contain-ico-bubble-with-new-type-of-smart-tokens"
                >
                  Ethereum-Backed Jibrel Aims to Contain ICO Bubble with New Type of Smart Tokens
                </a>
              </div>
            </div>
            <div class="slide article">
              <div class="bg"></div>
              <div class="icon" style="background-image: url('assets/img/logos/5.svg')"></div>
              <div class="info">
                <div class="date">December 20, 2017</div>
                <a
                  class="title"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://cointelegraph.com/news/ethereum-backed-jibrel-aims-to-contain-ico-bubble-with-new-type-of-smart-tokens"
                >
                  Ethereum-Backed Jibrel Aims to Contain ICO Bubble with New Type of Smart Tokens
                </a>
              </div>
            </div>
            <div class="slide article">
              <div class="bg"></div>
              <div class="icon" style="background-image: url('assets/img/logos/6.svg')"></div>
              <div class="info">
                <div class="date">December 20, 2017</div>
                <a
                  class="title"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://cointelegraph.com/news/ethereum-backed-jibrel-aims-to-contain-ico-bubble-with-new-type-of-smart-tokens"
                >
                  Ethereum-Backed Jibrel Aims to Contain ICO Bubble with New Type of Smart Tokens
                </a>
              </div>
            </div>
            <div class="slide article">
              <div class="bg"></div>
              <div class="icon" style="background-image: url('assets/img/logos/7.svg')"></div>
              <div class="info">
                <div class="date">December 20, 2017</div>
                <a
                  class="title"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://cointelegraph.com/news/ethereum-backed-jibrel-aims-to-contain-ico-bubble-with-new-type-of-smart-tokens"
                >
                  Ethereum-Backed Jibrel Aims to Contain ICO Bubble with New Type of Smart Tokens
                </a>
              </div>
            </div>
            <div class="slide article">
              <div class="bg"></div>
              <div class="icon" style="background-image: url('assets/img/logos/8.svg')"></div>
              <div class="info">
                <div class="date">December 20, 2017</div>
                <a
                  class="title"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://cointelegraph.com/news/ethereum-backed-jibrel-aims-to-contain-ico-bubble-with-new-type-of-smart-tokens"
                >
                  Ethereum-Backed Jibrel Aims to Contain ICO Bubble with New Type of Smart Tokens
                </a>
              </div>
            </div>
            <div class="slide article">
              <div class="bg"></div>
              <div class="icon" style="background-image: url('assets/img/logos/9.svg')"></div>
              <div class="info">
                <div class="date">December 20, 2017</div>
                <a
                  class="title"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://cointelegraph.com/news/ethereum-backed-jibrel-aims-to-contain-ico-bubble-with-new-type-of-smart-tokens"
                >
                  Ethereum-Backed Jibrel Aims to Contain ICO Bubble with New Type of Smart Tokens
                </a>
              </div>
            </div>
            <div class="slide article">
              <div class="bg"></div>
              <div class="icon" style="background-image: url('assets/img/logos/10.svg')"></div>
              <div class="info">
                <div class="date">December 20, 2017</div>
                <a
                  class="title"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://cointelegraph.com/news/ethereum-backed-jibrel-aims-to-contain-ico-bubble-with-new-type-of-smart-tokens"
                >
                  Ethereum-Backed Jibrel Aims to Contain ICO Bubble with New Type of Smart Tokens
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>