      <div class="section articles">
        <div>
          <div class="slider2">
            <div class="article-wrap">
              <div class="article">
                <div class="bg"></div>
                <div class="icon" style="background-image: url('assets/img/logos/1.svg')"></div>
                <div class="info">
                  <div class="date">September 14, 2017</div>
                  <a
                    class="title"
                    target="_blank"
                    rel="noopener noreferrer"
                    href="https://cointelegraph.com/news/ethereum-backed-jibrel-aims-to-contain-ico-bubble-with-new-type-of-smart-tokens"
                  >
                    Ethereum-Backed Jibrel Aims to Contain ICO Bubble with New Type of Smart Tokens
                  </a>
                </div>
              </div>
            </div>
            <div class="article-wrap">
              <div class="article">
                <div class="bg"></div>
                <div class="icon" style="background-image: url('assets/img/logos/2.svg')"></div>
                <div class="info">
                  <div class="date">November 8, 2017</div>
                  <a
                    class="title"
                    target="_blank"
                    rel="noopener noreferrer"
                    href="https://www.forbes.com/forbes/welcome/?toURL=https://www.forbes.com/sites/cbovaird/2017/11/08/bitcoin-approaches-8000-as-cryptos-surge/&refURL=&referrer=#6e6c36903f57"
                  >
                    Bitcoin Approaches $8,000 As Cryptos Surge
                  </a>
                </div>
              </div>
            </div>
            <div class="article-wrap">
              <div class="article">
                <div class="bg"></div>
                <div class="icon" style="background-image: url('assets/img/logos/3.svg')"></div>
                <div class="info">
                  <div class="date">November 16, 2017</div>
                  <a
                    class="title"
                    target="_blank"
                    rel="noopener noreferrer"
                    href="https://thenextweb.com/contributors/2017/11/16/digital-economy-continues-evolve-popularity-interest-grows/"
                  >
                    How the digital economy continues to evolve as popularity and interest grows
                  </a>
                </div>
              </div>
            </div>
            <div class="article-wrap">
              <div class="article">
                <div class="bg"></div>
                <div class="icon" style="background-image: url('assets/img/logos/4.svg')"></div>
                <div class="info">
                  <div class="date">November 17, 2017</div>
                  <a
                    class="title"
                    target="_blank"
                    rel="noopener noreferrer"
                    href="https://bitcoinmagazine.com/articles/crypto-trading-and-traditional-assets-new-options-investors/"
                  >
                    Crypto Trading and Traditional Assets: New Options for Investors
                  </a>
                </div>
              </div>
            </div>
            <div class="article-wrap">
              <div class="article">
                <div class="bg"></div>
                <div class="icon" style="background-image: url('assets/img/logos/5.svg')"></div>
                <div class="info">
                  <div class="date">November 25, 2017</div>
                  <a
                    class="title"
                    target="_blank"
                    rel="noopener noreferrer"
                    href="https://www.huffingtonpost.com/entry/fresh-from-a-success-token-pre-sale-the-jibrel-network_us_5a19aa74e4b0bf1467a846d6"
                  >
                    Fresh from a Success Token Pre-Sale, the Jibrel Network Launches Their New Cryptowallet for Users
                  </a>
                </div>
              </div>
            </div>
            <div class="article-wrap">
              <div class="article">
                <div class="bg"></div>
                <div class="icon" style="background-image: url('assets/img/logos/6.svg')"></div>
                <div class="info">
                  <div class="date">November 20, 2017</div>
                  <a
                    class="title"
                    target="_blank"
                    rel="noopener noreferrer"
                    href="http://www.the-blockchain.com/2017/11/20/jibrel-network-announces-highly-successful-pre-sale-round/"
                  >
                    Jibrel Network Announces a Highly Successful Pre-sale Round
                  </a>
                </div>
              </div>
            </div>
            <div class="article-wrap">
              <div class="article">
                <div class="bg"></div>
                <div class="icon" style="background-image: url('assets/img/logos/7.svg')"></div>
                <div class="info">
                  <div class="date">November 22, 2017</div>
                  <a
                    class="title"
                    target="_blank"
                    rel="noopener noreferrer"
                    href="https://techcrunch.com/2017/11/22/with-ethereum-wallets-under-constant-attack-jibrel-network-decided-to-build-their-own/"
                  >
                    With Ethereum wallets under constant attack, Jibrel Network decided to build their own
                  </a>
                </div>
              </div>
            </div>
            <div class="article-wrap">
              <div class="article">
                <div class="bg"></div>
                <div class="icon" style="background-image: url('assets/img/logos/8.svg')"></div>
                <div class="info">
                  <div class="date">November 24, 2017</div>
                  <a
                    class="title"
                    target="_blank"
                    rel="noopener noreferrer"
                    href="https://themerkle.com/what-is-jwallet/"
                  >
                    What Is jWallet?
                  </a>
                </div>
              </div>
            </div>
            <div class="article-wrap">
              <div class="article">
                <div class="bg"></div>
                <div class="icon" style="background-image: url('assets/img/logos/9.svg')"></div>
                <div class="info">
                  <div class="date">November 17, 2017</div>
                  <a
                    class="title"
                    target="_blank"
                    rel="noopener noreferrer"
                    href="http://www.nasdaq.com/article/crypto-trading-and-traditional-assets-new-options-for-investors-cm879469"
                  >
                    Crypto Trading and Traditional Assets: New Options for Investors
                  </a>
                </div>
              </div>
            </div>
            <div class="article-wrap">
              <div class="article">
                <div class="bg"></div>
                <div class="icon" style="background-image: url('assets/img/logos/10.svg')"></div>
                <div class="info">
                  <div class="date">November 15, 2017</div>
                  <a
                    class="title"
                    target="_blank"
                    rel="noopener noreferrer"
                    href="http://markets.businessinsider.com/news/stocks/Blockchain-and-Payments-Take-Center-Stage-at-Inside-Fintech-Conference-Expo-2017-in-Seoul-South-Korea-November-30-December-1-2017-1008202248"
                  >
                    Blockchain and Payments Take Center Stage at Inside Fintech Conference & Expo 2017 in Seoul, South Korea, November 30 - December 1, 2017
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>