      <div class="section articles">
        <div class="slider2">
          {% for article in articles %}<div class="article-wrap">
            <a
              class="article"
              target="_blank"
              rel="noopener noreferrer"
              href="{{ article.href }}"
            >
              <div class="bg"></div>
              <div
                class="icon"
                style="background-image: url('assets/img/logos/{{ loop.index }}.svg')"
              ></div>
              <div class="info">
                <div class="date">{{ article.date }}</div>
                <div class="title">{{ article.title }}</div>
              </div>
            </a>
          </div>{% endfor %}
        </div>
      </div>