      <div class="section countdown">
        <div class="inner">
          <div class="title">
            <p>
              {{ countdown.title }}<br />
              <span>
                {{ countdown.subtitle }} <a href="mailto:{{ countdown.email }}">{{ countdown.email }}</a>
              </span>
            </p>
          </div>
          <div class="timer"><div id="countdown"></div></div>
          <div class="field field-email-subscriprion">
            <input
              type="email"
              placeholder="{{ countdown.subscribe.placeholder }}"
              id="email-input"
            />
            <a href="#" class="icons icon-send" id="email-subcribe-button"></a>
            <div class="done in-progress hidden">{{ countdown.subscribe.progress }}</div>
            <div class="done hidden">{{ countdown.subscribe.success }}</div>
            <div class="done error hidden">{{ countdown.subscribe.error }}</div>
          </div>
        </div>
      </div>