      <div class="section faq" id="faq">
        <div class="inner">
          <h2>{{ faq.faq_title }}</h2>
          <div class="row clear">
            <div class="col-3">
              <ul>
                <li>
                  <a href="#" data-id="1" class="item-1 active">{{ faq.categories.categories_general }}</a>
                </li>
                <li>
                  <a href="#" data-id="2" class="item-2">{{ faq.categories.categories_receipts }}</a>
                </li>
                <li>
                  <a href="#" data-id="3" class="item-3">{{ faq.categories.categories_jnt }}</a>
                </li>
              </ul>
            </div>
            <div class="col-9">
              <div class="items">
                <div class="tab tab-1 active">
                  <div class="item active">
                    <h3>{{ faq.tabs.general.a.general_a_question }}</h3>
                    <div class="text">
                      <p>{{ faq.tabs.general.a.answer.general_a_a }}</p>
                      <p>{{ faq.tabs.general.a.answer.general_a_b }}</p>
                    </div>
                  </div>
                  <div class="item">
                    <h3>{{ faq.tabs.general.b.general_b_question }}</h3>
                    <div class="text">
                      <p>
                        {{ faq.tabs.general.b.answer.general_b_a }}
                        <a
                          href="https://medium.com/@jibrelnetwork/new-alchemy-security-audit-findings-302357ea49e5"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          {{ faq.tabs.general.b.answer.general_b_b }}
                        </a>
                      </p>
                    </div>
                  </div>
                  <div class="item">
                    <h3>{{ faq.tabs.general.c.general_c_question }}</h3>
                    <div class="text">
                      <p>{{ faq.tabs.general.c.answer.general_c_a }}</p>
                      <p>{{ faq.tabs.general.c.answer.general_c_b }}</p>
                    </div>
                  </div>
                  <div class="item">
                    <h3>{{ faq.tabs.general.d.general_d_question }}</h3>
                    <div class="text">
                      <p>{{ faq.tabs.general.d.answer.general_d_a }}</p>
                      <p>{{ faq.tabs.general.d.answer.general_d_b }}</p>
                    </div>
                  </div>
                  <div class="item">
                    <h3>{{ faq.tabs.general.e.general_e_question }}</h3>
                    <div class="text">
                      <p>{{ faq.tabs.general.e.answer.general_e_a }}</p>
                      <p>{{ faq.tabs.general.e.answer.general_e_b }}</p>
                      <p>{{ faq.tabs.general.e.answer.general_e_c }}</p>
                    </div>
                  </div>
                </div>
                <div class="tab tab-2">
                  <div class="item active">
                    <h3>{{ faq.tabs.receipts.a.receipts_a_question }}</h3>
                    <div class="text">
                      <p>{{ faq.tabs.receipts.a.answer.receipts_a_a }}</p>
                    </div>
                  </div>
                  <div class="item">
                    <h3>{{ faq.tabs.receipts.b.receipts_b_question }}</h3>
                    <div class="text">
                      <p>{{ faq.tabs.receipts.b.answer.receipts_b_a }}</p>
                    </div>
                  </div>
                  <div class="item">
                    <h3>{{ faq.tabs.receipts.c.receipts_c_question }}</h3>
                    <div class="text">
                      <p>{{ faq.tabs.receipts.c.answer.receipts_c_a }}</p>
                    </div>
                  </div>
                  <div class="item">
                    <h3>{{ faq.tabs.receipts.d.receipts_d_question }}</h3>
                    <div class="text">
                      <p>{{ faq.tabs.receipts.d.answer.receipts_d_a }}</p>
                    </div>
                  </div>
                  <div class="item">
                    <h3>{{ faq.tabs.receipts.e.receipts_e_question }}</h3>
                    <div class="text">
                      <p>{{ faq.tabs.receipts.e.answer.receipts_e_a }}</p>
                      <p>{{ faq.tabs.receipts.e.answer.receipts_e_b }}</p>
                    </div>
                  </div>
                  <div class="item">
                    <h3>{{ faq.tabs.receipts.f.receipts_f_question }}</h3>
                    <div class="text">
                      <p>{{ faq.tabs.receipts.f.answer.receipts_f_a }}</p>
                    </div>
                  </div>
                  <div class="item">
                    <h3>{{ faq.tabs.receipts.g.receipts_g_question }}</h3>
                    <div class="text">
                      <p>{{ faq.tabs.receipts.g.answer.receipts_g_a }}</p>
                    </div>
                  </div>
                  <div class="item">
                    <h3>{{ faq.tabs.receipts.h.receipts_h_question }}</h3>
                    <div class="text">
                      <p>{{ faq.tabs.receipts.h.answer.receipts_h_a }}</p>
                    </div>
                  </div>
                </div>
                <div class="tab tab-3">
                  <div class="item active">
                    <h3>{{ faq.tabs.jnt.a.jnt_a_question }}</h3>
                    <div class="text">
                      <p>{{ faq.tabs.jnt.a.answer.jnt_a_a }}</p>
                    </div>
                  </div>
                  <div class="item">
                    <h3>{{ faq.tabs.jnt.b.jnt_b_question }}</h3>
                    <div class="text">
                      <p>
                        {{ faq.tabs.jnt.b.answer.jnt_b_a }}
                        <a
                          href="https://medium.com/@jibrelnetwork/jibrel-network-roadmap-618d156b884c"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          {{ faq.tabs.jnt.b.answer.jnt_b_b }}
                        </a>
                      </p>
                    </div>
                  </div>
                  <div class="item">
                    <h3>{{ faq.tabs.jnt.c.jnt_c_question }}</h3>
                    <div class="text">
                      <p>{{ faq.tabs.jnt.c.answer.jnt_c_a }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>