      <div class="section faq" id="faq">
        <div class="inner">
          <h2>{{ faq.title.gkdjknbdbx }}</h2>
          <div class="row clear">
            <div class="col-3">
              <ul>
                <li>
                  <a href="#" data-id="1" class="item-1 active">{{ faq.categories.general.kffuxwyhhi }}</a>
                </li>
                <li>
                  <a href="#" data-id="2" class="item-2">{{ faq.categories.receipts.wxpssfsgtb }}</a>
                </li>
                <li>
                  <a href="#" data-id="3" class="item-3">{{ faq.categories.jnt.mauhdtidwe }}</a>
                </li>
              </ul>
            </div>
            <div class="col-9">
              <div class="items">
                <div class="tab tab-1 active">
                  <div class="item active">
                    <h3>{{ faq.tabs.general.a.question.fdpdlpriwo }}</h3>
                    <div class="text">
                      <p>{{ faq.tabs.general.a.answer.a.cvswugsyjg }}</p>
                      <p>{{ faq.tabs.general.a.answer.b.qfiqapqfct }}</p>
                    </div>
                  </div>
                  <div class="item">
                    <h3>{{ faq.tabs.general.b.question.rbvwdtclaw }}</h3>
                    <div class="text">
                      <p>
                        {{ faq.tabs.general.b.answer.a.wimtjfkddi }}
                        <a
                          href="https://medium.com/@jibrelnetwork/new-alchemy-security-audit-findings-302357ea49e5"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          {{ faq.tabs.general.b.answer.b.msrzuejybu }}
                        </a>
                      </p>
                    </div>
                  </div>
                  <div class="item">
                    <h3>{{ faq.tabs.general.c.question.fjlvudalxt }}</h3>
                    <div class="text">
                      <p>{{ faq.tabs.general.c.answer.a.zvnjjjdopo }}</p>
                      <p>{{ faq.tabs.general.c.answer.b.nnzjnbdqfw }}</p>
                    </div>
                  </div>
                  <div class="item">
                    <h3>{{ faq.tabs.general.d.question.nqsfborwjd }}</h3>
                    <div class="text">
                      <p>{{ faq.tabs.general.d.answer.a.gnwwoarwvr }}</p>
                      <p>{{ faq.tabs.general.d.answer.b.iyurivopob }}</p>
                    </div>
                  </div>
                  <div class="item">
                    <h3>{{ faq.tabs.general.e.question.lrxmuchqzf }}</h3>
                    <div class="text">
                      <p>{{ faq.tabs.general.e.answer.a.fswogziall }}</p>
                      <p>{{ faq.tabs.general.e.answer.b.omgtsufdca }}</p>
                      <p>{{ faq.tabs.general.e.answer.c.dlzrcfeooq }}</p>
                    </div>
                  </div>
                </div>
                <div class="tab tab-2">
                  <div class="item active">
                    <h3>{{ faq.tabs.receipts.a.question.ymdimlezcg }}</h3>
                    <div class="text">
                      <p>{{ faq.tabs.receipts.a.answer.a.dmatnvlbhp }}</p>
                    </div>
                  </div>
                  <div class="item">
                    <h3>{{ faq.tabs.receipts.b.question.lnxlrnnstc }}</h3>
                    <div class="text">
                      <p>{{ faq.tabs.receipts.b.answer.a.wxitjvdwad }}</p>
                    </div>
                  </div>
                  <div class="item">
                    <h3>{{ faq.tabs.receipts.c.question.stojvwjocx }}</h3>
                    <div class="text">
                      <p>{{ faq.tabs.receipts.c.answer.a.droymmczhq }}</p>
                    </div>
                  </div>
                  <div class="item">
                    <h3>{{ faq.tabs.receipts.d.question.lktgegzeid }}</h3>
                    <div class="text">
                      <p>{{ faq.tabs.receipts.d.answer.a.lrisgypbrn }}</p>
                    </div>
                  </div>
                  <div class="item">
                    <h3>{{ faq.tabs.receipts.e.question.eobrvihzyo }}</h3>
                    <div class="text">
                      <p>{{ faq.tabs.receipts.e.answer.a.ariglvmgum }}</p>
                      <p>{{ faq.tabs.receipts.e.answer.b.ycaugwfrmk }}</p>
                    </div>
                  </div>
                  <div class="item">
                    <h3>{{ faq.tabs.receipts.f.question.dijonglxwr }}</h3>
                    <div class="text">
                      <p>{{ faq.tabs.receipts.f.answer.a.ppqshrbzuk }}</p>
                    </div>
                  </div>
                  <div class="item">
                    <h3>{{ faq.tabs.receipts.g.question.nunzxgssid }}</h3>
                    <div class="text">
                      <p>{{ faq.tabs.receipts.g.answer.a.mgkhhxggxa }}</p>
                    </div>
                  </div>
                  <div class="item">
                    <h3>{{ faq.tabs.receipts.h.question.zggzshxszv }}</h3>
                    <div class="text">
                      <p>{{ faq.tabs.receipts.h.answer.a.iplmqhvypr }}</p>
                    </div>
                  </div>
                </div>
                <div class="tab tab-3">
                  <div class="item active">
                    <h3>{{ faq.tabs.jnt.a.question.tpfjankxyn }}</h3>
                    <div class="text">
                      <p>{{ faq.tabs.jnt.a.answer.a.yxfffkkhmz }}</p>
                    </div>
                  </div>
                  <div class="item">
                    <h3>{{ faq.tabs.jnt.b.question.uobstumdpr }}</h3>
                    <div class="text">
                      <p>
                        {{ faq.tabs.jnt.b.answer.a.xxznzctiyd }}
                        <a
                          href="https://medium.com/@jibrelnetwork/jibrel-network-roadmap-618d156b884c"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          {{ faq.tabs.jnt.b.answer.b.ryorctpdfw }}
                        </a>
                      </p>
                    </div>
                  </div>
                  <div class="item">
                    <h3>{{ faq.tabs.jnt.c.question.fkqgtqafqb }}</h3>
                    <div class="text">
                      <p>{{ faq.tabs.jnt.c.answer.a.vgfohohkwm }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
