      <div class="section faq" id="faq">
        <div class="inner">
          <h2>{{ faq.title }}</h2>
          <div class="row clear">
            <div class="col-3">
              <ul>
                {% for category in faq.categories %}<li>
                  <a
                    href="#"
                    data-id="{{ loop.index }}"
                    class="item-{{ loop.index }} {% if (loop.index === 1) %}active{% endif %}"
                  >
                    {{ category }}
                  </a>
                </li>{% endfor %}
              </ul>
            </div>
            <div class="col-9">
              <div class="items">
                {% for tab in faq.tabs %}<div
                  class="tab tab-{{ loop.index }} {% if (loop.index === 1) %}active{% endif %}"
                >
                  {% for item in tab %}<div class="item {% if (item.active) %}active{% endif %}">
                    <h3>{{ item.question }}</h3>
                    <div class="text">
                      {% for p in item.answer %}<p>
                        {{ p | safe }}
                      </p>{% endfor %}
                    </div>
                  </div>{% endfor %}
                </div>{% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>