      <div class="section header">
        <div class="inner clear">
          <a href="#start" class="logo pull-left scroll">
            <img src="{{ header.logo }}" />
          </a>
          <ul class="menu pull-right">
            <li><a href="#about" class="scroll">{{ header.about }}</a></li>
            <li><a href="#roadmap" class="scroll">{{ header.roadmap }}</a></li>
            <li><a href="#jnt" class="scroll">{{ header.jnt }}</a></li>
            <li><a href="#faq" class="scroll">{{ header.faq }}</a></li>
            <li><a href="#whitepaper" class="scroll">{{ header.whitepaper }}</a></li>
            <li><a href="#team" class="scroll">{{ header.team }}</a></li>
            <li class="github"><a href="https://github.com/jibrelnetwork" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="183 5994 24 24">
                <g id="Group_356" data-name="Group 356" transform="translate(-187)">
                  <rect
                    id="Rectangle_1119"
                    data-name="Rectangle 1119"
                    class="cls-1"
                    width="24"
                    height="24"
                    transform="translate(370 5994)"
                  />
                  <g
                    id="icons8-Octocat_Filled"
                    data-name="icons8-Octocat Filled"
                    transform="translate(368 5990)"
                  >
                    <path
                      id="Path_5471"
                      data-name="Path 5471"
                      class="cls-2"
                      d="M18.174,18c-.938,0-1.565.791-1.565,2.087s.465,2.633,1.565,2.609c1.158-.027,1.575-1.16,1.565-2.609C19.731,18.791,19.109,18,18.174,18Zm5.876-6.226A12.023,12.023,0,0,0,23.224,6s-2.364.259-5.939,2.713A14.047,14.047,0,0,0,14,8.4a14.216,14.216,0,0,0-3.287.31C7.14,6.259,4.778,6,4.778,6a11.817,11.817,0,0,0-.827,5.774A7.069,7.069,0,0,0,2,16.822c0,9.373,7.777,9.524,9.74,9.524.444,0,1.327,0,2.26,0s1.818,0,2.26,0c1.963,0,9.74-.151,9.74-9.524A7.069,7.069,0,0,0,24.05,11.774ZM14.073,25.3H14c-4.92,0-8.788-.7-8.788-5.48a4.045,4.045,0,0,1,1.365-3.09c1.6-1.471,4.311-.693,7.386-.693h.073c3.075,0,5.786-.777,7.388.693a4.043,4.043,0,0,1,1.363,3.09C22.788,24.605,18.993,25.3,14.073,25.3ZM9.826,18c-.935,0-1.565,1.052-1.565,2.348S8.891,22.7,9.826,22.7s1.565-1.052,1.565-2.348S10.764,18,9.826,18Z"
                    />
                  </g>
                </g>
              </svg>
            </a></li>
            <li class="flags">
              <a href="/" title="en"><img src="assets/img/countries/eng.svg" alt="English" /></a>
              <a href="/ko" title="ko"><img src="assets/img/countries/kor.svg" alt="Korean" /></a>
            </li>
          </ul>
          <button class="menu-button">
            <span>{{ header.button }}</span>
          </button>
        </div>
      </div>