      <div class="section header">
        <div class="inner clear">
          <a href="#start" class="logo pull-left scroll">
            <img src="assets/img/logo.svg" />
          </a>
          <ul class="menu pull-right">
            <li><a href="#about" class="scroll">{{ header.about }}</a></li>
            <li><a href="#roadmap" class="scroll">{{ header.roadmap }}</a></li>
            <li><a href="#faq" class="scroll">{{ header.faq }}</a></li>
            <li><a href="#whitepaper" class="scroll">{{ header.whitepaper }}</a></li>
            <li><a href="#team" class="scroll">{{ header.team }}</a></li>
            <li>
              <a
                href="https://sale.jibrel.network/#/welcome/login"
                class="sale"
                target="_blank"
              >
                {{ header.sale }}
              </a>
            </li>
            <li class="popover-wrap language-popover" id="language-popover">
              <div class="popover-title">
                <!--
                  Available languages:
                  {{ meta.languages.en-US }}
                  {{ meta.languages.ja-JP }}
                  {{ meta.languages.ko-KR }}
                  {{ meta.languages.zh-CN }}
                  {{ meta.languages.zh-TW }}
                -->
                <span class="text">{{ meta.languages[languageCode] }}</span>
                <div class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="3343 -1546 12 12"><defs><style>.a{fill:#0050db;}.b{fill:none;}</style></defs><g transform="translate(2163 -1601)"><g transform="translate(1166.744 88.744)"><path class="a" d="M13.616,4.131l-.838-.838L8.455,7.616,4.131,3.293l-.838.838L7.616,8.455l.838.838.838-.838Z" transform="translate(10.707 -34.293)"/></g><rect class="b" width="12" height="12" transform="translate(1180 55)"/></g></svg>
                </div>
              </div>
              <div class="popover-overlay"></div>
              <div class="popover">
                <div class="popover-content">
                  <div class="popover-item"><a href="/" title="English">English</a></div>
                  <div class="popover-item"><a href="/ja-JP.html" title="日本語">日本語</a></div>
                  <div class="popover-item"><a href="/ko-KR.html" title="한국어">한국어</a></div>
                  <div class="popover-item"><a href="/zh-CN.html" title="简体中文">简体中文</a></div>
                  <div class="popover-item"><a href="/zh-TW.html" title="繁體中文">繁體中文</a></div>
                </div>
              </div>
            </li>
          </ul>
          <button class="menu-button">
            <span>{{ header.button }}</span>
          </button>
        </div>
      </div>