      <div class="section jnt" id="jnt">
        <div class="inner">
          <h2>{{ jnt.title }}</h2>
          <div class="charts">
            <div class="row clear">
              <div class="col-4">
                <div class="pie-chart"><img src="{{ data.jnt.image }}" alt="" /></div>
              </div>
              <div class="col-8">
                <div class="item">
                  <div class="title">{{ jnt.items.presale.title }}</div>
                  <div class="percents">10%</div>
                  <div class="bar bar-10"></div>
                  <div class="money">20,000,000 <span>JNT</span></div>
                </div>
                <div class="item">
                  <div class="title">{{ jnt.items.sale.title }}</div>
                  <div class="percents">60%</div>
                  <div class="bar bar-60"></div>
                  <div class="money">120,000,000 <span>JNT</span></div>
                </div>
                <div class="item pink">
                  <div class="title">{{ jnt.items.team.title }}</div>
                  <div class="percents">15%</div>
                  <div class="bar bar-15"></div>
                  <div class="money">30,000,000 <span>JNT</span></div>
                </div>
                <div class="item green">
                  <div class="title">{{ jnt.items.partners.title }}</div>
                  <div class="percents">10%</div>
                  <div class="bar bar-10"></div>
                  <div class="money">20,000,000 <span>JNT</span></div>
                </div>
                <div class="item purple">
                  <div class="title">{{ jnt.items.bounties.title }}</div>
                  <div class="percents">5%</div>
                  <div class="bar bar-5"></div>
                  <div class="money">10,000,000 <span>JNT</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>