      <div class="section roadmap" id="roadmap">
        <div class="mask"></div>
        <div class="inner">
          <h2>{{ roadmap.roadmap_title }}</h2>
          <div class="timeline">
            <div class="item right active">
              <div class="time">{{ roadmap.timeline.may17.may17_time }}</div>
              <h3>{{ roadmap.timeline.may17.may17_head }}</h3>
              <p>{{ roadmap.timeline.may17.body.may17_a }}</p>
            </div>
            <div class="item left active">
              <div class="time">{{ roadmap.timeline.sep17.sep17_time }}</div>
              <h3>{{ roadmap.timeline.sep17.sep17_head }}</h3>
              <p>{{ roadmap.timeline.sep17.body.sep17_a }}</p>
            </div>
            <div class="item right active">
              <div class="time">{{ roadmap.timeline.nov17first.nov17first_time }}</div>
              <h3>{{ roadmap.timeline.nov17first.nov17first_head }}</h3>
              <p>{{ roadmap.timeline.nov17first.body.nov17first_a }}</p>
            </div>
            <div class="item right active">
              <div class="time">{{ roadmap.timeline.nov17second.nov17second_time }}</div>
              <h3>{{ roadmap.timeline.nov17second.nov17second_head }}</h3>
              <p>{{ roadmap.timeline.nov17second.body.nov17second_a }}</p>
            </div>
            <div class="item left">
              <div class="time">{{ roadmap.timeline.1q18.1q18_time }}</div>
              <h3>{{ roadmap.timeline.1q18.1q18_head }}</h3>
              <p>{{ roadmap.timeline.1q18.body.1q18_a }}</p>
            </div>
            <div class="item right">
              <div class="time">{{ roadmap.timeline.3q18.3q18_time }}</div>
              <h3>{{ roadmap.timeline.3q18.3q18_head }}</h3>
              <p>{{ roadmap.timeline.3q18.body.3q18_a }}</p>
            </div>
            <div class="item left">
              <div class="time">{{ roadmap.timeline.4q18.4q18_time }}</div>
              <h3>{{ roadmap.timeline.4q18.4q18_head }}</h3>
              <p>{{ roadmap.timeline.4q18.body.4q18_a }}</p>
            </div>
          </div>
        </div>
      </div>
