      <div class="section start" id="start">
        <div class="bg1"></div>
        <div class="bg2"></div>
        <div class="slider">
          <div class="slide">
            <div class="inner">
              <div class="text">
                <h1>{{ start.jwallet.jwallet_title }}</h1>
                <p>{{ start.jwallet.text.jwallet_a }} <br />{{ start.jwallet.text.jwallet_b }}</p>
                <a
                  href="https://jwallet.network/jwallet?lang={{ languageCode }}"
                  class="button bordered"
                  target="_blank"
                >
                  {{ start.jwallet.jwallet_link }}
                </a>
              </div>
              <div class="notebook"></div>
            </div>
          </div>
        </div>
      </div>
