      <div class="section team">
        <div class="inner">
          <h2>{{ team.title }}</h2>
          {% for row in team.persons %}<div class="row clear">
            {% set mainLoopIndex = loop.index0 %}
            {% for person in row %}<div class="col-6">
              <div class="img">
                {% if (data.team.persons[mainLoopIndex][loop.index0].id) %}<img
                  src="assets/img/team/{{ data.team.persons[mainLoopIndex][loop.index0].id }}.png"
                  alt=""
                />{% endif %}
              </div>
              <h3>{{ person.name }}</h3>
              <div class="position">{{ person.position }}</div>
              <ul class="links">{% for link in data.team.persons[mainLoopIndex][loop.index0].links %}
                <li>
                  <a
                    href="{{ link.href }}"
                    class="icons icon-{{ link.type }}"
                    target="_blank"
                    rel="nofollow"
                  ></a>
                </li>
              {% endfor %}</ul>
              <p>{{ person.description }}</p>
            </div>{% endfor %}
          </div>{% endfor %}
        </div>
      </div>