      <div class="section whitepaper" id="whitepaper">
        <div class="inner">
          <h2>{{ whitepaper.title }}</h2>
          <div class="items">{% for row in data.whitepaper.items %}
            {% set mainLoopIndex = loop.index0 %}
            <div class="row clear">{% for item in row %}
              <div class="col-3">
                <a
                  href="assets/white_paper/Jibrel%20Network%20-%20White%20Paper%20({{ item.a }}).pdf"
                  target="_blank"
                >
                  <img src="assets/img/countries/{{ item.img }}.svg" alt="" />
                  <span>{{ whitepaper.items[mainLoopIndex][loop.index0].title }}</span>
                </a>
              </div>{% endfor %}
            </div>{% endfor %}
          </div>
        </div>
      </div>