/* Colors */
/* Fonts */
@font-face {
  font-family: "Gotham Rounded";
  src: url("../fonts/gothamrnd-bold.eot");
  src: url("../fonts/gothamrnd-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gothamrnd-bold.woff") format("woff"), url("../fonts/gothamrnd-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* Basic */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 1;
  color: #3c3c58;
}
.clear:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
}
a {
  color: #0574eb;
  text-decoration: none;
}
a:hover {
  color: #00c1ff;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
/* Animations */
a,
li,
span,
label,
input,
h3,
i,
.cls-2,
.menu,
.menu-button,
.whitepaper a:before,
.footer a:before,
.pull-right:before {
  transition: all 0.3s ease 0s;
}
/* Grid */
.row {
  margin-left: -10px;
  margin-right: -10px;
}
.row .col-2,
.row .col-3,
.row .col-4,
.row .col-5,
.row .col-6,
.row .col-7,
.row .col-8,
.row .col-9,
.row .col-12,
.row .col-1-5 {
  float: left;
  padding: 0 10px;
  position: relative;
}
.row .col-2 {
  width: 16.6666%;
}
.row .col-3 {
  width: 25%;
}
.row .col-4 {
  width: 33.3333%;
}
.row .col-5 {
  width: 42%;
}
.row .col-6 {
  width: 50%;
}
.row .col-7 {
  width: 58%;
}
.row .col-8 {
  width: 66.6666%;
}
.row .col-9 {
  width: 75%;
}
.row .col-12 {
  width: 100%;
}
.row .col-1-5 {
  width: 20%;
}
/* Icons */
.icons {
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: left center;
}
.icons.small {
  background-size: 16px 16px;
}
.icons.big:before {
  background-position: -16px -10px;
  background-size: 150% 150%;
}
.icons.icon-send {
  background-image: url("../img/icons/send.svg");
}
.icons.icon-benefit-1 {
  background-image: url("../img/icons/benefit-1.svg");
}
.icons.icon-benefit-2 {
  background-image: url("../img/icons/benefit-2.svg");
}
.icons.icon-benefit-3 {
  background-image: url("../img/icons/benefit-3.svg");
}
.icons.icon-benefit-4 {
  background-image: url("../img/icons/benefit-4.svg");
}
.icons.icon-benefit-5 {
  background-image: url("../img/icons/benefit-5.svg");
}
.icons.icon-benefit-6 {
  background-image: url("../img/icons/benefit-6.svg");
}
.icons.icon-email {
  background-image: url("../img/icons/email.svg");
}
.icons.icon-slack {
  background-image: url("../img/icons/slack.svg");
}
.icons.icon-github {
  background-image: url("../img/icons/github.svg");
}
.icons.icon-linkedin {
  background-image: url("../img/icons/linkedin.svg");
}
.icons.icon-wiki {
  background-image: url("../img/icons/wiki.svg");
}
.icons.icon-big-twitter:before {
  background-image: url("../img/icons/big/twitter.svg");
}
.icons.icon-big-reddit:before {
  background-image: url("../img/icons/big/reddit.svg");
}
.icons.icon-big-bitcointalk:before {
  background-image: url("../img/icons/big/bitcointalk.svg");
}
.icons.icon-big-youtube:before {
  background-image: url("../img/icons/big/youtube.svg");
}
.icons.icon-big-telegram:before {
  background-image: url("../img/icons/big/telegram.svg");
}
.icons.icon-big-slack:before {
  background-image: url("../img/icons/big/slack.svg");
}
.button {
  display: inline-block;
  height: 56px;
  line-height: 56px;
  border-radius: 28px;
  color: #ffffff;
  background-color: #0574eb;
  background: linear-gradient(to top left, #0574eb, #00c1ff);
  box-shadow: 0 5px 10px rgba(17, 85, 204, 0.35);
  font-size: 14px;
  font-weight: bold;
  transition: background 0.3s ease-out;
  width: 160px;
  text-align: center;
  background-size: 100% 112px;
}
.button:hover {
  background-position: 0 -56px;
  color: #ffffff;
}
/* Menu button */
.menu-button {
  position: absolute;
  z-index: 1000;
  top: 50%;
  right: 0;
  width: 30px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  display: none;
}
.menu-button::before,
.menu-button::after,
.menu-button span {
  background: #0574eb;
}
.menu-button::before,
.menu-button::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  pointer-events: none;
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.menu-button span {
  position: absolute;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 2px;
  text-indent: 200%;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
.menu-button::before {
  -webkit-transform: translate3d(0, -10px, 0) scale3d(0.8, 1, 1);
  transform: translate3d(0, -10px, 0) scale3d(0.8, 1, 1);
}
.menu-button::after {
  -webkit-transform: translate3d(0, 10px, 0) scale3d(0.8, 1, 1);
  transform: translate3d(0, 10px, 0) scale3d(0.8, 1, 1);
}
.menu-button.active span {
  opacity: 0;
}
.menu-button.active::before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}
.menu-button.active::after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}
/* Layouts */
html.active {
  overflow: hidden;
  touch-action: none;
}
.inner {
  position: relative;
  margin: 0 auto;
  max-width: 1100px;
}
.section {
  padding: 100px 0;
  overflow: hidden;
}
.section .inner > h2 {
  font-size: 24px;
  margin-bottom: 110px;
  position: relative;
}
.section .inner > h2:before {
  content: '';
  background-color: #cde3fb;
  height: 2px;
  width: 60px;
  border-radius: 1px;
  position: absolute;
  top: 50px;
  left: 0;
}
.header {
  position: fixed;
  width: 100%;
  height: 120px;
  line-height: 120px;
  left: 0;
  top: 0;
  z-index: 10;
  padding: 0;
}
.header .logo {
  margin-top: 38px;
  display: block;
}
.header .logo img {
  display: block;
  height: 44px;
  width: 122px;
}
.header li {
  display: inline-block;
  font-size: 14px;
  margin-left: 40px;
  transition: none;
}
.header li:first-child {
  margin-left: 0;
}
.header li a {
  transition: color 0.3s ease 0s;
}
.header li svg {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  top: 4px;
}
.header li svg .cls-1 {
  fill: #ffffff;
  opacity: 0;
}
.header li svg .cls-2 {
  fill: #0574eb;
}
.header li svg:hover .cls-2 {
  fill: #00c1ff;
}
.header .menu-button {
  top: 46px;
}
.header.active {
  height: 80px;
  line-height: 80px;
  background-color: #f8fbff;
}
.header.active .logo {
  margin-top: 18px;
}
.header.active .menu-button {
  top: 28px;
}
.start {
  padding: 120px 0 0 0;
  background-color: #f8fbff;
  position: relative;
  border-bottom: 1px solid rgba(5, 116, 235, 0.1);
}
.start .text {
  padding: 160px 0 300px 0;
  position: relative;
}
.start .text h1 {
  font-size: 32px;
  font-weight: 300;
}
.start .text p {
  font-size: 20px;
  opacity: 0.5;
  margin: 30px 0;
  line-height: 30px;
  font-weight: 300;
}
.start .text a {
  line-height: 28px;
  display: inline-block;
  background-image: url("../img/icons/fire.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 24px 24px;
  padding-left: 34px;
  font-size: 14px;
  font-weight: 600;
}
.start .logos {
  position: absolute;
  width: 100%;
  bottom: 50px;
  left: 0;
  text-align: center;
}
.start .logos a {
  display: inline-block;
  opacity: 0.4;
  margin: 0 30px;
}
.start .logos a img {
  display: block;
  height: 20px;
  width: auto;
}
.start .logos a:hover {
  opacity: 0.8;
}
.start .iphone {
  position: absolute;
  left: 480px;
  top: 90px;
  width: 650px;
  height: 468px;
}
.start .iphone img {
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  image-rendering: optimizeSpeed;
  /*                     */
  image-rendering: -moz-crisp-edges;
  /* Firefox             */
  image-rendering: -o-crisp-edges;
  /* Opera               */
  image-rendering: -webkit-optimize-contrast;
  /* Chrome (and Safari) */
  image-rendering: optimize-contrast;
  /* CSS3 Proposed       */
  -ms-interpolation-mode: nearest-neighbor;
  /* IE8+                */
}
.start .card {
  position: absolute;
  left: 563px;
  top: 60px;
  width: 353px;
  height: 216px;
}
.start .card img {
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  image-rendering: optimizeSpeed;
  /*                     */
  image-rendering: -moz-crisp-edges;
  /* Firefox             */
  image-rendering: -o-crisp-edges;
  /* Opera               */
  image-rendering: -webkit-optimize-contrast;
  /* Chrome (and Safari) */
  image-rendering: optimize-contrast;
  /* CSS3 Proposed       */
  -ms-interpolation-mode: nearest-neighbor;
  /* IE8+                */
}
.start .floating {
  animation-name: floating;
  -webkit-animation-name: floating;
  animation-duration: 4s;
  -webkit-animation-duration: 4s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.start .floating2 {
  animation-name: floating2;
  -webkit-animation-name: floating2;
  animation-duration: 4s;
  -webkit-animation-duration: 4s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes floating2 {
  0% {
    transform: translateY(0%) scale(1);
  }
  50% {
    transform: translateY(-8px) scale(1.025);
  }
  100% {
    transform: translateY(0%) scale(1);
  }
}
.countdown {
  background: linear-gradient(to top left, #0939dc, #00c1ff);
  position: relative;
  overflow: visible;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(5, 116, 235, 0.1);
}
.countdown .title {
  text-align: center;
  color: #ffffff;
  margin-bottom: 80px;
  position: relative;
  font-size: 18px;
}
.countdown .title span {
  font-size: 14px;
  margin-top: 15px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.7);
}
.countdown .title span a {
  color: rgba(255, 255, 255, 0.7);
}
.countdown .title span a:hover {
  color: #ffffff;
}
.countdown .timer {
  margin: 0 auto;
  width: 80%;
}
.countdown .ClassyCountdown-wrapper > div {
  display: inline-block;
  position: relative;
  width: 25%;
  padding: 0 40px;
}
.countdown .ClassyCountdown-wrapper .ClassyCountdown-value {
  width: 100%;
  position: absolute;
  top: 50%;
  text-align: center;
  left: 0;
  display: block;
  color: #ffffff;
}
.countdown .ClassyCountdown-wrapper .ClassyCountdown-value div {
  font-size: 40px;
  font-family: 'Gotham Rounded', Arial, sans-serif;
}
.countdown .ClassyCountdown-wrapper .ClassyCountdown-value span {
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0.5;
  position: relative;
  top: -28px;
  font-size: 12px;
}
.countdown .field {
  position: absolute;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  bottom: -28px;
  text-align: center;
}
.countdown .field input {
  height: 56px;
  border-radius: 28px;
  background-color: #ffffff;
  border: none;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 5px 10px rgba(17, 85, 204, 0.35);
  box-shadow: 0 5px 10px rgba(17, 85, 204, 0.35);
  width: 100%;
  color: #0574eb;
  padding: 0 28px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
}
.countdown .field input::-webkit-input-placeholder {
  color: #0574eb;
  opacity: 0.5;
}
.countdown .field input:invalid {
  color: #e91e63;
}
.countdown .field .button {
  display: inline-block;
  width: 300px;
  height: 56px;
  line-height: 56px;
  border-radius: 28px;
  font-weight: 600;
  text-align: left;
  padding: 0 30px 0 64px;
  position: relative;
}
.countdown .field .button i {
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../img/icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 24px 24px;
  left: 30px;
  top: 16px;
}
.countdown .field .button .floating3 {
  animation-name: floating3;
  -webkit-animation-name: floating3;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@keyframes floating3 {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-8px);
  }
  100% {
    transform: translateX(0%);
  }
}
.countdown .inner {
  position: unset;
}
.countdown:before {
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url("../img/countdown-bg.png");
  background-size: cover;
}
.about h3,
.about p {
  padding: 0 50px;
}
.about h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  position: relative;
}
.about p {
  opacity: 0.7;
  line-height: 26px;
}
.about .row {
  margin-bottom: 60px;
}
.about .row:last-child {
  margin-bottom: 0;
}
.about .col-6 {
  padding-top: 5px;
}
.about .icons {
  background-position: 10px 2px;
}
.roadmap {
  background-image: url("../img/roadmap.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #ffffff;
  padding-bottom: 0;
}
.roadmap:before {
  background-color: #0574eb;
  background: linear-gradient(to top left, #0939dc, #00c1ff);
  opacity: 0.9;
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
}
.roadmap .timeline {
  position: relative;
}
.roadmap .timeline .item {
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
}
.roadmap .timeline .item:before {
  content: '';
  width: 1px;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 24px;
  opacity: 0.3;
}
.roadmap .timeline .item.right {
  padding-left: 50%;
  padding-right: 100px;
}
.roadmap .timeline .item.right * {
  padding-left: 30px;
}
.roadmap .timeline .item.right .time:before {
  left: -7px;
}
.roadmap .timeline .item.left {
  padding-right: 50%;
  padding-left: 100px;
  text-align: right;
}
.roadmap .timeline .item.left * {
  padding-right: 30px;
}
.roadmap .timeline .item.left .time:before {
  right: -7px;
}
.roadmap .timeline .item .time {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
  opacity: 0.5;
}
.roadmap .timeline .item .time:before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  position: absolute;
  top: -2px;
  background-image: url("../img/icons/dot.svg");
  background-size: 14px 14px;
}
.roadmap .timeline .item.active .time {
  opacity: 1;
}
.roadmap .timeline .item.active:before {
  opacity: 1;
}
.roadmap .timeline .item:last-child {
  padding-bottom: 100px;
  margin-bottom: 0;
}
.roadmap .timeline .item h3 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}
.roadmap .timeline .item p {
  line-height: 22px;
  opacity: 0.7;
  padding-bottom: 30px;
}
.jnt .events {
  position: relative;
  padding-bottom: 160px;
  text-align: center;
}
.jnt .events:before {
  content: '';
  position: absolute;
  height: 1px;
  width: 50%;
  background-color: #cde3fb;
  top: 32px;
  left: 25%;
}
.jnt .events:after {
  content: '';
  background-color: #cde3fb;
  height: 2px;
  width: 60px;
  border-radius: 1px;
  position: absolute;
  bottom: 80px;
  left: 50%;
  margin-left: -25px;
}
.jnt .events .event {
  display: inline-block;
  padding: 0 70px;
  position: relative;
}
.jnt .events .event h3 {
  font-size: 20px;
  color: #0574eb;
  margin-bottom: 15px;
}
.jnt .events .event .title {
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.5;
  font-weight: 600;
  line-height: 1.5;
}
.jnt .events .event:before {
  display: inline-block;
  content: '';
  width: 62px;
  height: 62px;
  line-height: 62px;
  border: 1px solid #cde3fb;
  border-radius: 32px;
  margin-bottom: 15px;
  color: #0574eb;
  font-weight: bold;
  font-size: 20px;
  background-color: #ffffff;
}
.jnt .events .event.event-1:before {
  content: '1.';
}
.jnt .events .event.event-2:before {
  content: '2.';
}
.jnt .events .event.event-3:before {
  content: '3.';
}
.jnt .pie-chart img {
  display: block;
  width: 290px;
  height: auto;
}
.jnt .item {
  position: relative;
  padding-right: 120px;
  padding-left: 200px;
  margin-bottom: 40px;
}
.jnt .item:last-child {
  margin-bottom: 0;
}
.jnt .item .money,
.jnt .item .percents {
  color: #0574eb;
  font-weight: bold;
  position: absolute;
}
.jnt .item .money {
  right: 0;
  top: 0;
}
.jnt .item .money span {
  font-weight: normal;
}
.jnt .item .title {
  position: absolute;
  left: 0;
  opacity: 0.7;
}
.jnt .item .percents {
  left: 150px;
}
.jnt .item .bar {
  height: 16px;
  border-radius: 8px;
  background-color: rgba(5, 116, 235, 0.1);
  position: relative;
}
.jnt .item .bar:before {
  display: block;
  content: '';
  height: 16px;
  background-color: #0574eb;
  border-radius: 8px;
  left: 0;
  top: 0;
}
.jnt .item .bar.bar-5:before {
  width: 5%;
}
.jnt .item .bar.bar-10:before {
  width: 10%;
}
.jnt .item .bar.bar-15:before {
  width: 15%;
}
.jnt .item .bar.bar-20:before {
  width: 20%;
}
.jnt .item .bar.bar-40:before {
  width: 40%;
}
.jnt .item.pink .bar:before {
  background-color: #e91e63;
}
.jnt .item.pink .money,
.jnt .item.pink .percents {
  color: #e91e63;
}
.jnt .item.green .bar:before {
  background-color: #4dd0e1;
}
.jnt .item.green .money,
.jnt .item.green .percents {
  color: #4dd0e1;
}
.jnt .item.purple .bar:before {
  background-color: #aa00ff;
}
.jnt .item.purple .money,
.jnt .item.purple .percents {
  color: #aa00ff;
}
.faq {
  background-color: #f8fbff;
  border-top: 1px solid rgba(5, 116, 235, 0.1);
  border-bottom: 1px solid rgba(5, 116, 235, 0.1);
}
.faq li {
  margin-bottom: 30px;
}
.faq li a {
  font-size: 14px;
  font-weight: 600;
  color: #3c3c58;
}
.faq li a:hover,
.faq li a.active {
  color: #0574eb;
}
.faq .items {
  box-shadow: 0 5px 10px rgba(17, 85, 204, 0.1);
  border-radius: 5px;
  padding: 40px;
  background-color: #ffffff;
}
.faq .items .item {
  border-bottom: 1px solid rgba(5, 116, 235, 0.1);
  padding: 20px 0;
}
.faq .items .item h3 {
  font-size: 20px;
  color: #0574eb;
  cursor: pointer;
  position: relative;
}
.faq .items .item h3:hover {
  color: #3c3c58;
}
.faq .items .item h3:after {
  content: '';
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  right: 0;
  top: -2px;
  background-image: url("../img/icons/plus.svg");
  opacity: 0.3;
}
.faq .items .item .text {
  margin-top: 30px;
  display: none;
}
.faq .items .item .text p {
  line-height: 24px;
  margin-bottom: 1.5em;
  opacity: 0.7;
}
.faq .items .item .text p:last-child {
  margin-bottom: 10px;
}
.faq .items .item.active h3 {
  color: #3c3c58;
}
.faq .items .item.active h3:after {
  background-image: url("../img/icons/close.svg");
}
.faq .items .item.active .text {
  display: block;
}
.faq .items .item:last-child {
  border-bottom: none;
}
.faq .items .tab {
  display: none;
}
.faq .items .tab.active {
  display: block;
}
.whitepaper {
  border-bottom: 1px solid rgba(5, 116, 235, 0.1);
}
.whitepaper a {
  display: block;
  text-align: center;
  position: relative;
}
.whitepaper a img {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.whitepaper a span {
  display: block;
  font-size: 15px;
  margin-top: 15px;
  font-weight: 600;
}
.whitepaper a:before {
  content: '';
  width: 36px;
  height: 36px;
  border-radius: 18px;
  box-shadow: 0 5px 10px rgba(17, 85, 204, 0.35);
  background-color: #0574eb;
  background: url("../img/icons/download.svg") no-repeat, linear-gradient(to top left, #0574eb, #00c1ff);
  display: block;
  position: absolute;
  left: 50%;
  margin-left: 6px;
  top: -12px;
}
.whitepaper a:hover:before {
  top: -16px;
}
.whitepaper .row {
  margin-bottom: 80px;
}
.whitepaper .row:last-child {
  margin-bottom: 0;
}
.team,
.advisors {
  padding-bottom: 150px;
}
.team .row,
.advisors .row {
  margin-bottom: 70px;
}
.team .row:last-of-type,
.advisors .row:last-of-type {
  margin-bottom: 0;
}
.team .col-6,
.advisors .col-6,
.team .col-4,
.advisors .col-4 {
  position: relative;
}
.team .col-6 .img,
.advisors .col-6 .img,
.team .col-4 .img,
.advisors .col-4 .img {
  position: absolute;
  left: 10px;
  top: 0;
}
.team .col-6 .img img,
.advisors .col-6 .img img,
.team .col-4 .img img,
.advisors .col-4 .img img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.team .col-6 h3,
.advisors .col-6 h3,
.team .col-4 h3,
.advisors .col-4 h3,
.team .col-6 .position,
.advisors .col-6 .position,
.team .col-4 .position,
.advisors .col-4 .position,
.team .col-6 .links,
.advisors .col-6 .links,
.team .col-4 .links,
.advisors .col-4 .links {
  padding-left: 120px;
}
.team .col-6 h3,
.advisors .col-6 h3,
.team .col-4 h3,
.advisors .col-4 h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 15px 0 10px 0;
}
.team .col-6 .position,
.advisors .col-6 .position,
.team .col-4 .position,
.advisors .col-4 .position {
  opacity: 0.7;
  margin-bottom: 10px;
}
.team .col-6 .links,
.advisors .col-6 .links,
.team .col-4 .links,
.advisors .col-4 .links {
  margin-bottom: 30px;
}
.team .col-6 .links li,
.advisors .col-6 .links li,
.team .col-4 .links li,
.advisors .col-4 .links li {
  display: inline-block;
  margin-right: 10px;
}
.team .col-6 .links a,
.advisors .col-6 .links a,
.team .col-4 .links a,
.advisors .col-4 .links a {
  display: block;
  width: 24px;
  height: 24px;
  opacity: 0.3;
}
.team .col-6 .links a:hover,
.advisors .col-6 .links a:hover,
.team .col-4 .links a:hover,
.advisors .col-4 .links a:hover {
  opacity: 0.6;
}
.team .col-6 p,
.advisors .col-6 p,
.team .col-4 p,
.advisors .col-4 p {
  opacity: 0.7;
  line-height: 26px;
}
.team .col-6:first-child,
.advisors .col-6:first-child,
.team .col-4:first-child,
.advisors .col-4:first-child {
  padding-right: 60px;
}
.team .col-6:last-child,
.advisors .col-6:last-child,
.team .col-4:last-child,
.advisors .col-4:last-child {
  padding-left: 60px;
}
.team .col-6:last-child .img,
.advisors .col-6:last-child .img,
.team .col-4:last-child .img,
.advisors .col-4:last-child .img {
  left: 60px;
}
.advisors {
  padding-bottom: 0;
}
.advisors .col-4 {
  margin-bottom: 70px;
}
.advisors .col-4 h3 {
  margin-top: 10px;
}
.advisors .col-4 .position {
  line-height: 1.3;
}
.advisors .col-4:first-child {
  padding-right: 10px;
}
.advisors .col-4:last-child {
  padding-left: 10px;
}
.advisors .col-4:last-child .img {
  left: 10px;
}
.advisors .col-4 .links {
  margin-bottom: 0;
}
.advisors .col-4:nth-child(4),
.advisors .col-4:nth-child(5),
.advisors .col-4:nth-child(6) {
  margin-bottom: 0;
}
.careers {
  padding-top: 0;
  padding-bottom: 150px;
  display: none;
}
.careers .row {
  text-align: center;
}
.careers a {
  display: block;
}
.careers a:hover i {
  background-position: 0 -64px;
}
.careers h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #3c3c58;
}
.careers span {
  color: #0574eb;
  display: block;
}
.careers i {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  box-shadow: 0 5px 10px rgba(17, 85, 204, 0.35);
  display: block;
  margin: 0 auto 15px auto;
  position: relative;
  background: linear-gradient(to top left, #0574eb, #00c1ff);
  background-size: 100% 128px;
}
.careers i:before {
  background-image: url("../img/icons/front-end.svg");
  width: 24px;
  height: 24px;
  position: absolute;
  content: '';
  left: 20px;
  top: 20px;
}
.footer {
  background-color: #3c3c58;
  text-align: center;
  color: #ffffff;
}
.footer .links {
  margin-bottom: 80px;
}
.footer .links li {
  display: inline-block;
}
.footer .links li a {
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  padding: 0 40px;
  display: block;
  font-size: 15px;
}
.footer .links li a:before {
  content: '';
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 32px;
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 15px;
}
.footer .links li a:hover {
  color: #ffffff;
}
.footer .links li a:hover:before {
  background-color: rgba(255, 255, 255, 0.2);
}
.footer p {
  opacity: 0.7;
  line-height: 2;
}
.remodal {
  max-width: 560px;
  width: 100%;
  background-color: #ffffff;
  text-align: left;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(17, 85, 204, 0.1);
  position: relative;
  transition: all 0.3s ease 0s;
}
.remodal .remodal-header {
  margin: 50px 50px 0 50px;
  position: relative;
}
.remodal .remodal-header h2 {
  font-weight: normal;
  font-size: 18px;
}
.remodal .remodal-header .remodal-close {
  position: absolute;
  right: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  background-image: url('../img/icons/modal-close.svg');
  border: none;
  background-color: transparent;
  margin-top: -10px;
  opacity: 0.5;
}
.remodal .remodal-content {
  padding: 50px;
  transition: all 0.3s ease 0s;
}
.remodal .remodal-footer {
  padding: 0 50px 50px 50px;
}
.remodal .remodal-footer .pull-left {
  font-weight: bold;
  text-transform: uppercase;
  color: #3c3c58;
  opacity: 0.5;
}
.remodal .remodal-footer .pull-left:hover {
  opacity: 1;
}
.remodal .remodal-footer .pull-right {
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}
.remodal .remodal-footer .pull-right:before {
  background-image: url('../img/icons/step.svg');
  content: '';
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  position: absolute;
  left: -32px;
  top: -5px;
}
.remodal .remodal-footer .pull-right:hover:before {
  left: -36px;
}
.remodal .remodal-footer .disabled {
  opacity: 0.5;
  cursor: default;
}
.remodal .remodal-footer .disabled:hover {
  color: #0574eb;
}
.remodal .remodal-footer .disabled:before {
  display: none;
}
.remodal .remodal-footer .hidden {
  display: none;
}
.remodal .steps {
  display: none;
  transition: all 0.3s ease 0s;
}
.remodal .steps.step-4 p,
.remodal .steps.step-5 p {
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 1.5em;
}
.remodal .steps.step-4 p span,
.remodal .steps.step-5 p span {
  color: #0574eb;
}
.remodal .steps.step-4 p:first-child,
.remodal .steps.step-5 p:first-child {
  margin-bottom: 40px;
}
.remodal .steps.step-4 p:first-child img,
.remodal .steps.step-5 p:first-child img {
  width: 115px;
  height: 110px;
  display: inline-block;
}
.remodal .steps.step-4 p:last-child,
.remodal .steps.step-5 p:last-child {
  font-weight: normal;
  opacity: 0.7;
}
.remodal .steps.show-errors .field-input.error input {
  color: #e91e63;
  border-bottom: 1px solid #e91e63;
}
.remodal .steps.show-errors .field-input.error div.error-text {
  display: block;
  color: #e91e63;
  text-align: right;
  position: absolute;
  right: 0;
  top: 60px;
}
.remodal .steps.active {
  display: block;
}
.remodal .hidden {
  visibility: hidden;
  opacity: 0;
}
.remodal .field {
  position: relative;
  margin-bottom: 40px;
}
.remodal .field:last-child {
  margin-bottom: 0;
}
.remodal .field.field-checkbox input {
  display: none;
}
.remodal .field.field-checkbox input + label {
  padding-left: 30px;
  font-size: 13px;
  font-weight: normal;
  position: relative;
  top: 0;
  color: #3c3c58;
  left: 0;
  display: block;
  line-height: 24px;
}
.remodal .field.field-checkbox input + label:before {
  top: 2px;
  display: inline-block;
  position: absolute;
  left: 0px;
  border: 2px solid #cde3fb;
  background-color: #ffffff;
  width: 16px;
  height: 16px;
  content: '';
  border-radius: 10px;
}
.remodal .field.field-checkbox input:checked + label:before {
  display: block;
  position: absolute;
  border: 2px solid #0574eb;
  width: 16px;
  height: 16px;
  background-color: #0574eb;
  background-image: url("../img/icons/checkbox.svg");
  background-size: 9px 7px;
  background-repeat: no-repeat;
  background-position: center center;
}
.remodal .field.field-checkbox input:checked + label {
  color: #0574eb;
}
.remodal .field.field-input input {
  display: block;
  width: 100%;
  padding: 15px 0;
  border: none;
  border-bottom: 1px solid rgba(45, 44, 62, 0.1);
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: 600;
}
.remodal .field.field-input input:focus + ul {
  display: block;
}
.remodal .field.field-input ul {
  display: none;
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  border: 1px solid rgba(45, 44, 62, 0.2);
  background-color: #ffffff;
  z-index: 10;
  padding: 5px 0;
  max-height: 160px;
  overflow: auto;
}
.remodal .field.field-input ul.scroll {
  height: 136px;
  overflow: auto;
}
.remodal .field.field-input ul a {
  display: block;
  line-height: 40px;
  padding: 0 15px;
  cursor: pointer;
}
.remodal .field.field-input ul a.active {
  background-color: rgba(5, 116, 235, 0.1);
}
.remodal .field.field-input ul a:hover {
  color: #3c3c58;
}
.remodal .field.field-input ul.active {
  display: block;
}
.remodal .field.field-input div.error-text {
  display: none;
}
.remodal .notice {
  color: #0574eb;
  position: relative;
  line-height: 24px;
  padding: 25px 0;
  margin-bottom: 40px;
}
.remodal .notice p {
  position: relative;
}
.remodal .notice:before {
  content: '';
  background-color: #f8fbff;
  border-top: 1px solid rgba(5, 116, 235, 0.1);
  border-bottom: 1px solid rgba(5, 116, 235, 0.1);
  position: absolute;
  height: 100%;
  width: calc(100% + 100px);
  left: -50px;
  top: 0;
}
.remodal .label {
  margin-bottom: 40px;
}
@media only screen and (max-width: 1100px) {
  .section {
    padding-left: 30px;
    padding-right: 30px;
  }
  .countdown .timer {
    width: 100%;
  }
  .advisors .col-4 {
    margin-bottom: 70px;
    width: 50%;
  }
  .advisors .col-4:nth-child(4) {
    margin-bottom: 70px;
  }
  .advisors .col-4:nth-child(5),
  .advisors .col-4:nth-child(6) {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 800px) {
  .start .iphone {
    right: -400px;
  }
  .start .logos a {
    margin: 0 20px;
  }
  .start .logos a img {
    height: 16px;
  }
  .countdown .ClassyCountdown-wrapper > div {
    padding: 0 20px;
  }
  .countdown .ClassyCountdown-wrapper .ClassyCountdown-value span {
    top: -20px;
  }
  .roadmap .timeline .item.left {
    padding-left: 0;
  }
  .roadmap .timeline .item.right {
    padding-right: 0;
  }
  .jnt .events .event {
    padding: 0 25px;
  }
  .jnt .charts .col-4 {
    display: block;
    float: none;
    width: auto;
    margin-bottom: 60px;
    text-align: center;
  }
  .jnt .charts .col-4 .pie-chart img {
    display: inline-block;
  }
  .jnt .charts .col-8 {
    float: none;
    width: auto;
  }
  .faq .col-3,
  .faq .col-9 {
    width: auto;
    float: none;
  }
  .faq li {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 40px;
  }
  .faq .items {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
  }
  .team .col-6:first-child {
    padding-right: 40px;
  }
  .team .col-6:last-child {
    padding-left: 40px;
  }
  .team .col-6:last-child .img {
    left: 40px;
  }
  .footer .links li a {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 600px) {
  .remodal {
    width: 90%;
  }
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section .inner > h2 {
    margin-bottom: 90px;
  }
  .header {
    padding-top: 0;
    padding-bottom: 0;
    overflow: visible;
  }
  .header .menu {
    display: none;
    position: fixed;
    top: 120px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3c3c58;
    padding: 30px;
    z-index: 100;
  }
  .header .menu li {
    line-height: 40px;
    display: block;
    margin-left: 0;
  }
  .header .menu li a {
    color: #ffffff;
  }
  .header .menu li:last-child {
    margin-top: 10px;
  }
  .header .menu.active {
    display: block;
  }
  .header .menu-button {
    display: block;
    z-index: 1000;
  }
  .header.active .menu.active {
    top: 80px;
  }
  .start {
    padding-top: 120px;
  }
  .start .iphone,
  .start .card {
    display: none;
  }
  .start .text {
    padding: 60px 0 150px;
    text-align: center;
  }
  .start .logos {
    display: none;
  }
  .countdown .ClassyCountdown-wrapper > div {
    padding: 0 10px;
  }
  .countdown .ClassyCountdown-wrapper .ClassyCountdown-value span {
    top: -16px;
    font-size: 11px;
  }
  .about .col-6 {
    width: auto;
    float: none;
    margin-bottom: 40px;
  }
  .about .col-6.icon-benefit-6 {
    margin-bottom: 0;
  }
  .about .row {
    margin-bottom: 0;
  }
  .about .icons {
    background-position: 10px 4px;
  }
  .jnt .events .event h3 {
    font-size: 16px;
  }
  .jnt .events:before {
    width: 60%;
  }
  .jnt .charts .col-4 {
    display: block;
    float: none;
    width: auto;
    margin-bottom: 60px;
    text-align: center;
  }
  .jnt .charts .col-4 .pie-chart img {
    display: inline-block;
  }
  .whitepaper .row {
    margin-bottom: 0;
  }
  .whitepaper .row:last-child .col-3:nth-child(3),
  .whitepaper .row:last-child .col-3:nth-child(4) {
    margin-bottom: 0;
  }
  .whitepaper .col-3 {
    width: 50%;
    margin-bottom: 80px;
  }
  .roadmap {
    padding-bottom: 0;
  }
  .roadmap .timeline .item:last-child {
    padding-bottom: 60px;
  }
  .advisors .col-4 {
    margin-bottom: 60px;
    width: 100%;
    float: none;
  }
  .advisors .col-4:nth-child(4) {
    margin-bottom: 60px;
  }
  .advisors .col-4:nth-child(5) {
    margin-bottom: 60px;
  }
  .advisors .col-4:last-child {
    margin-bottom: 0;
  }
  .team .row {
    margin-bottom: 0;
  }
  .team .row:last-of-type .col-6:last-child {
    margin-bottom: 0;
  }
  .team .col-6 {
    width: auto;
    margin-bottom: 40px;
  }
  .team .col-6:first-child {
    padding-right: 0;
  }
  .team .col-6:last-child {
    padding-left: 10px;
  }
  .team .col-6:last-child .img {
    left: 10px;
  }
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  .footer .links {
    margin-bottom: 60px;
  }
  .footer .links li a {
    padding: 0 10px;
    font-size: 13px;
  }
}
@media only screen and (max-width: 480px) {
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .section .inner > h2 {
    margin-bottom: 80px;
    font-size: 20px;
  }
  .header {
    padding-top: 0;
    padding-bottom: 0;
  }
  .start {
    padding-top: 120px;
  }
  .countdown {
    padding-bottom: 60px;
  }
  .countdown .title {
    line-height: 1.5;
    margin-bottom: 40px;
    padding: 0 20px;
  }
  .countdown .ClassyCountdown-wrapper > div {
    padding: 0 5px;
  }
  .countdown .ClassyCountdown-wrapper .ClassyCountdown-value div {
    font-size: 32px;
  }
  .countdown .ClassyCountdown-wrapper .ClassyCountdown-value span {
    top: -10px;
  }
  .countdown .field .button {
    width: 280px;
    padding: 0 30px;
    text-align: center;
  }
  .countdown .field .button i {
    display: none;
  }
  .roadmap {
    padding-bottom: 0;
  }
  .roadmap .timeline .item.left {
    padding-left: 30px;
    padding-right: 0;
    text-align: left;
  }
  .roadmap .timeline .item.left .time {
    padding-right: 0;
    padding-left: 30px;
  }
  .roadmap .timeline .item.left .time:before {
    right: inherit;
    left: -7px;
  }
  .roadmap .timeline .item.left * {
    padding-right: 0;
    padding-left: 30px;
  }
  .roadmap .timeline .item.right {
    padding-right: 0;
    padding-left: 30px;
  }
  .roadmap .timeline .item:last-child {
    padding-bottom: 40px;
  }
  .jnt .events:before {
    display: none;
  }
  .jnt .events .event {
    padding: 0 10px;
  }
  .jnt .events .event h3 {
    font-size: 13px;
  }
  .jnt .item {
    padding-left: 45px;
    margin-bottom: 60px;
  }
  .jnt .item .title {
    top: -25px;
  }
  .jnt .item .percents {
    left: 0;
  }
  .faq li {
    display: block;
    margin-bottom: 20px;
  }
  .faq .items .item h3 {
    font-size: 16px;
    line-height: 1.4;
  }
  .footer li {
    width: 30%;
    margin-bottom: 30px;
  }
  .footer .links {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 414px) {
  .section .inner > h2 {
    font-size: 18px;
  }
  .start .text {
    padding-bottom: 60px;
  }
  .start .text h1 {
    font-weight: normal;
    font-size: 24px;
  }
  .start .text p {
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
  }
  .start .text p br {
    display: none;
  }
  .countdown {
    padding-bottom: 60px;
  }
  .countdown .title {
    margin-bottom: 30px;
    padding: 0;
    font-size: 13px;
  }
  .countdown .ClassyCountdown-wrapper > div {
    padding: 0;
  }
  .countdown .ClassyCountdown-wrapper .ClassyCountdown-value div {
    font-size: 32px;
  }
  .countdown .ClassyCountdown-wrapper .ClassyCountdown-value span {
    top: 5px;
  }
  .countdown .ClassyCountdown-wrapper canvas {
    display: none !important;
  }
  .countdown .field {
    width: 90%;
    margin-left: 5%;
    left: 0;
  }
  .about h3,
  .about p {
    padding-right: 0;
  }
  .about h3 {
    font-size: 15px;
    line-height: 24px;
  }
  .jnt .events {
    padding-bottom: 60px;
  }
  .jnt .events:after {
    display: none;
  }
  .jnt .events .event {
    display: block;
    margin-bottom: 30px;
  }
  .jnt .charts .col-4 .pie-chart img {
    display: block;
    width: 80%;
    height: auto;
    margin: 0 10%;
  }
  .whitepaper .col-3 {
    min-height: 120px;
    margin-bottom: 50px;
  }
  .whitepaper a span {
    font-size: 13px;
    line-height: 1.5;
  }
  .team .col-6 h3,
  .team .col-6 .position,
  .team .col-6 .links {
    padding-left: 90px;
  }
  .team .col-6 .img img {
    width: 70px;
    height: 70px;
    border-radius: 35px;
  }
  .team .col-6 h3 {
    margin-top: 4px;
  }
  .remodal {
    width: 90%;
  }
  .remodal .remodal-header {
    margin: 30px 30px 0 30px;
  }
  .remodal .remodal-content {
    padding: 30px;
  }
  .remodal .remodal-footer {
    padding: 0 30px 30px 30px;
  }
  .remodal .field {
    margin-bottom: 20px;
  }
  .remodal .notice:before {
    width: calc(100% + 60px);
    left: -30px;
  }
}
#loading {
  width: 52px;
  margin: auto;
}
#loading .loading {
  background-color: #ffffff;
  float: left;
  height: 11px;
  margin-left: 6px;
  width: 11px;
  animation-name: bounce_loading;
  -o-animation-name: bounce_loading;
  -ms-animation-name: bounce_loading;
  -webkit-animation-name: bounce_loading;
  -moz-animation-name: bounce_loading;
  animation-duration: 1.1675s;
  -o-animation-duration: 1.1675s;
  -ms-animation-duration: 1.1675s;
  -webkit-animation-duration: 1.1675s;
  -moz-animation-duration: 1.1675s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}
#loading #loading_1 {
  animation-delay: 0.2295s;
  -o-animation-delay: 0.2295s;
  -ms-animation-delay: 0.2295s;
  -webkit-animation-delay: 0.2295s;
  -moz-animation-delay: 0.2295s;
}
#loading #loading_2 {
  animation-delay: 0.5455s;
  -o-animation-delay: 0.5455s;
  -ms-animation-delay: 0.5455s;
  -webkit-animation-delay: 0.5455s;
  -moz-animation-delay: 0.5455s;
}
#loading #loading_3 {
  animation-delay: 0.6985s;
  -o-animation-delay: 0.6985s;
  -ms-animation-delay: 0.6985s;
  -webkit-animation-delay: 0.6985s;
  -moz-animation-delay: 0.6985s;
}
@keyframes bounce_loading {
  50% {
    background-color: #0574eb;
  }
}
@-o-keyframes bounce_loading {
  50% {
    background-color: #0574eb;
  }
}
@-ms-keyframes bounce_loading {
  50% {
    background-color: #0574eb;
  }
}
@-webkit-keyframes bounce_loading {
  50% {
    background-color: #0574eb;
  }
}
@-moz-keyframes bounce_loading {
  50% {
    background-color: #0574eb;
  }
}
