      <div class="section countdown presale">
        <div class="inner">
          <div class="title">
            <p>
              {{ countdown.title }}<br />
              <span>
                {{ countdown.subtitle }} <a href="mailto:{{ countdown.email }}">{{ countdown.email }}</a>
              </span>
            </p>
          </div>
          <div class="timer"><div id="countdown"></div></div>
          <div class="field">
            <a href="#form" class="button">
              <i class="floating3"></i>{{ countdown.cta }}
            </a>
          </div>
        </div>
      </div>