      <div class="section roadmap" id="roadmap">
        <div class="mask"></div>
        <div class="inner">
          <h2>{{ roadmap.title }}</h2>
          <div class="timeline">
            {% for item in roadmap.timeline %}
              <div class="item {{ item.class }}">
                <div class="time">{{ item.time }}</div>
                <h3>{{ item.head }}</h3>
                <p>
                  {% for line in item.body %}
                    {% if (line === '') %}
                      <br />
                    {% else %}
                      {{ line }}
                    {% endif %}
                  {% endfor %}
                </p>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>