        <div class="steps step-1 active">
          <div class="notice">
            <p>
              {{ remodal.step1.notice[0] }}<br />
              {{ remodal.step1.notice[1] }}<br />
              {{ remodal.step1.notice[2] }} <span>
                <a href="mailto:presale@jibrel.network">presale@jibrel.network</a>
              </span><br /><br />
            </p>
            <p>{{ remodal.step1.notice[3] }}</p>
          </div>
          <div class="field field-checkbox" id="checkbox1-container">
            <input type="checkbox" id="checkbox-1" name="checkbox1" />
            <label for="checkbox-1">{{ remodal.step1.checkbox1[0] }}</label>
          </div>
          <div class="field field-checkbox" id="checkbox2-container">
            <input type="checkbox" id="checkbox-2" name="checkbox2" />
            <label for="checkbox-2">
              {{ remodal.step1.checkbox2[0] }} <a
                href="assets/Jibrel%20Network%20Token%20Sales%20-%20T%26Cs.pdf"
              >
                {{ remodal.step1.checkbox2[1] }}
              </a> {{ remodal.step1.checkbox2[2] }}
            </label>
          </div>
        </div>