<!doctype html>
<html>
  <head>

{% include "./html/partials/head/meta.html" %}
{% include "./html/partials/head/styles.html" %}
{% include "./html/partials/head/favicon.html" %}
{% include "./html/partials/head/gtm.html" %}

  </head>
  <body>

{% include "./html/partials/body/gtm-noscript.html" %}
{% include "./html/partials/body/ymetrika.html" %}
{% include "./html/partials/body/ganalytics.html" %}

    <div class="container remodal-bg">

{% include "./html/partials/body/header.html" %}

{% include "./html/partials/body/start.html" %}

{% include "./html/partials/body/countdown.html" %}

{% include "./html/partials/body/about.html" %}

{% include "./html/partials/body/roadmap.html" %}

{% include "./html/partials/body/jnt.html" %}

{% include "./html/partials/body/faq.html" %}

<div class="section whitepaper" id="whitepaper">
    <div class="inner">
        <h2>White Paper</h2>
        <div class="items">
            <div class="row clear">
                <div class="col-3">
                    <a href="assets/white_paper/Jibrel%20Network%20-%20White%20Paper%20(2nd%20Draft).pdf" target="_blank">
                        <img src="assets/img/countries/eng.svg" alt="" />
                        <span>English White Paper</span>
                    </a>
                </div>
                <div class="col-3">
                    <a href="assets/white_paper/Jibrel%20Network%20-%20White%20Paper%20(French).pdf" target="_blank">
                        <img src="assets/img/countries/fra.svg" alt="" />
                        <span>French White Paper</span>
                    </a>
                </div>
                <div class="col-3">
                    <a href="assets/white_paper/Jibrel%20Network%20-%20White%20Paper%20(German).pdf" target="_blank">
                        <img src="assets/img/countries/ger.svg" alt="" />
                        <span>German White Paper</span>
                    </a>
                </div>
                <div class="col-3">
                    <a href="assets/white_paper/Jibrel%20Network%20-%20White%20Paper%20(Dutch).pdf" target="_blank">
                        <img src="assets/img/countries/ned.svg" alt="" />
                        <span>Dutch White Paper</span>
                    </a>
                </div>
            </div>
            <div class="row clear">
                <div class="col-3">
                    <a href="assets/white_paper/Jibrel%20Network%20-%20White%20Paper%20(Portuguese).pdf" target="_blank">
                        <img src="assets/img/countries/por.svg" alt="" />
                        <span>Portuguese White Paper</span>
                    </a>
                </div>
                <div class="col-3">
                    <a href="assets/white_paper/Jibrel%20Network%20-%20White%20Paper%20(Spanish).pdf" target="_blank">
                        <img src="assets/img/countries/spa.svg" alt="" />
                        <span>Spanish White Paper</span>
                    </a>
                </div>
                <div class="col-3">
                    <a href="assets/white_paper/Jibrel%20Network%20-%20White%20Paper%20(Arabic).pdf" target="_blank">
                        <img src="assets/img/countries/ara.svg" alt="" />
                        <span>Arabic White Paper</span>
                    </a>
                </div>
                <div class="col-3">
                    <a href="assets/white_paper/Jibrel%20Network%20-%20White%20Paper%20(Hindi).pdf" target="_blank">
                        <img src="assets/img/countries/hin.svg" alt="" />
                        <span>Hindi White Paper</span>
                    </a>
                </div>
            </div>
            <div class="row clear">
                <div class="col-3">
                    <a href="assets/white_paper/Jibrel%20Network%20-%20White%20Paper%20(Japanese).pdf" target="_blank">
                        <img src="assets/img/countries/jap.svg" alt="" />
                        <span>Japanese White Paper</span>
                    </a>
                </div>
                <div class="col-3">
                    <a href="assets/white_paper/Jibrel%20Network%20-%20White%20Paper%20(Korean).pdf" target="_blank">
                        <img src="assets/img/countries/kor.svg" alt="" />
                        <span>Korean White Paper</span>
                    </a>
                </div>
                <div class="col-3">
                    <a href="assets/white_paper/Jibrel%20Network%20-%20White%20Paper%20(Chinese%20Simplified%20zh-CN).pdf" target="_blank">
                        <img src="assets/img/countries/chi.svg" alt="" />
                        <span>Chinese Simplified White Paper</span>
                    </a>
                </div>
                <div class="col-3">
                    <a href="assets/white_paper/Jibrel%20Network%20-%20White%20Paper%20(Chinese%20Traditional%20zh-TW).pdf" target="_blank">
                        <img src="assets/img/countries/chi.svg" alt="" />
                        <span>Chinese Traditional White Paper</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section advisors" id="team">
    <div class="inner">
        <h2>Our Advisors</h2>
        <div class="row clear">
            <div class="col-4">
                <div class="img">
                    <img src="assets/img/advisors/1.png" alt="" />
                </div>
                <h3>Don Tapscott</h3>
                <div class="position">Strategy Advisor<br />CEO of Tapscott Group</div>
                <ul class="links">
                    <li><a href="https://www.linkedin.com/in/dontapscott" class="icons icon-linkedin" target="_blank" rel="nofollow"></a></li>
                    <li><a href="https://en.wikipedia.org/wiki/Don_Tapscott" class="icons icon-wiki" target="_blank" rel="nofollow"></a></li>
                </ul>
            </div>
            <div class="col-4">
                <div class="img">
                    <img src="assets/img/advisors/2.png" alt="" />
                </div>
                <h3>Ruslan Gavrilyuk</h3>
                <div class="position">CryptoFinance Advisor<br />CEO &amp; Founder of TaaS Fund</div>
                <ul class="links">
                    <li><a href="https://www.linkedin.com/in/ruslan-gavrilyuk/" class="icons icon-linkedin" target="_blank" rel="nofollow"></a></li>
                </ul>
            </div>
            <div class="col-4">
                <div class="img">
                    <img src="assets/img/advisors/3.png" alt="" />
                </div>
                <h3>Stephen Murphy</h3>
                <div class="position">FinTech Advisor<br />CEO of Genesis Global Tech</div>
                <ul class="links">
                    <li><a href="https://www.linkedin.com/in/stephenmurphy3" class="icons icon-linkedin" target="_blank" rel="nofollow"></a></li>
                </ul>
            </div>
            <div class="col-4">
                <div class="img">
                    <img src="assets/img/advisors/4.png" alt="" />
                </div>
                <h3>Saul Hudson</h3>
                <div class="position">Communications Advisor<br />GM at Thomson Reuters</div>
                <ul class="links">
                    <li><a href="https://www.linkedin.com/in/saul-hudson-2ab9228" class="icons icon-linkedin" target="_blank" rel="nofollow"></a></li>
                </ul>
            </div>
            <div class="col-4">
                <div class="img">
                    <img src="assets/img/advisors/5.png" alt="" />
                </div>
                <h3>Mohammad Al Sehli</h3>
                <div class="position">MENA Advisor<br />CEO &amp; Founder of Arabian Chain</div>
                <ul class="links">
                    <li><a href="https://www.linkedin.com/in/mohammed-alsehli-7520a626" class="icons icon-linkedin" target="_blank" rel="nofollow"></a></li>
                </ul>
            </div>
            <div class="col-4">
                <div class="img">
                    <img src="assets/img/advisors/6.png" alt="" />
                </div>
                <h3>Dr. Moe Levin</h3>
                <div class="position">Public Sector Advisor<br />CEO of Keynote</div>
                <ul class="links">
                    <li><a href="https://www.linkedin.com/in/moelevin" class="icons icon-linkedin" target="_blank" rel="nofollow"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="section team">
    <div class="inner">
        <h2>Our Team</h2>
        <div class="row clear">
            <div class="col-6">
                <div class="img">
                    <img src="assets/img/team/1.png" alt="" />
                </div>
                <h3>Yazan Barghuthi</h3>
                <div class="position">Project Lead (Co-founder)</div>
                <ul class="links">
                    <li><a href="mailto:yazan@jibrel.network" class="icons icon-email"></a></li>
                    <li><a href="https://jibrelnetwork.slack.com/messages/@yazan" class="icons icon-slack" target="_blank" rel="nofollow"></a></li>
                    <li><a href="https://www.linkedin.com/in/yazanbarghuthi" class="icons icon-linkedin" target="_blank" rel="nofollow"></a></li>
                </ul>
                <p>Yazan has over 9 years' financial services experience at top management consultancies such as Oliver Wyman and Deloitte. He is proficient at Javascript, HTML, CSS, React and most front-end frameworks.</p>
            </div>
            <div class="col-6">
                <div class="img">
                    <img src="assets/img/team/2.png" alt="" />
                </div>
                <h3>Victor Mezrin</h3>
                <div class="position">Technical Lead (Co-founder)</div>
                <ul class="links">
                    <li><a href="mailto:victor@jibrel.network" class="icons icon-email"></a></li>
                    <li><a href="https://jibrelnetwork.slack.com/messages/@victor" class="icons icon-slack" target="_blank" rel="nofollow"></a></li>
                    <li><a href="https://github.com/mezrin" class="icons icon-github" target="_blank" rel="nofollow"></a></li>
                </ul>
                <p>Victor has over 10 years' development experience and ran a top-3 altcoin mining pool (pool.mn) between 2014 and 2016. He is proficient at C++/C, Python, Java, C#, PHP, JavaScript, Solidity.</p>
            </div>
        </div>
        <div class="row clear">
            <div class="col-6">
                <div class="img">
                    <img src="assets/img/team/3.png" alt="" />
                </div>
                <h3>Talal Tabbaa</h3>
                <div class="position">BizDev Lead (Co-founder)</div>
                <ul class="links">
                    <li><a href="mailto:talal@jibrel.network" class="icons icon-email"></a></li>
                    <li><a href="https://jibrelnetwork.slack.com/messages/@talal.io" class="icons icon-slack" target="_blank" rel="nofollow"></a></li>
                    <li><a href="https://www.linkedin.com/in/talaltabbaa" class="icons icon-linkedin" target="_blank" rel="nofollow"></a></li>
                </ul>
                <p>Talal has over 6 years' experience in financial advisory roles at top tier consultancies (PwC) as well as private investment funds. He is proficient at Python and SQL and is learning front-end development.</p>
            </div>
            <div class="col-6">
                <div class="img">
                    <img src="assets/img/team/7.png" alt="" />
                </div>
                <h3>Nick Marinin</h3>
                <div class="position">Developer (UX/UI)</div>
                <ul class="links">
                    <li><a href="mailto:nick@jibrel.network" class="icons icon-email"></a></li>
                    <li><a href="https://jibrelnetwork.slack.com/messages/@marinin" class="icons icon-slack" target="_blank" rel="nofollow"></a></li>
                    <li><a href="https://www.linkedin.com/in/nmarinin" class="icons icon-linkedin" target="_blank" rel="nofollow"></a></li>
                </ul>
                <p>Nick has over 9 years’ experience in designing and developing financial user interfaces. He has developed UI/UX for financial institutions, retail businesses and manufacturers. He is proficient at HTML, CSS and JavaScript.</p>
            </div>
        </div>
        <div class="row clear">
            <div class="col-6">
                <div class="img">
                    <img src="assets/img/team/12.png" alt="" />
                </div>
                <h3>Hamzeh Kolaghassi</h3>
                <div class="position">Operations</div>
                <ul class="links">
                    <li><a href="mailto:hamzeh@jibrel.network" class="icons icon-email"></a></li>
                    <li><a href="https://jibrelnetwork.slack.com/messages/@hamzeh" class="icons icon-slack" target="_blank" rel="nofollow"></a></li>
                    <li><a href="https://www.linkedin.com/in/hamzeh-kolaghassi-61505131/" class="icons icon-linkedin" target="_blank" rel="nofollow"></a></li>
                </ul>
                <p>Hamzeh has over 6 years’ financial experience at top private equity and financial consultancy firms such as Alcazar Capital and Ernst & Young. He is proficient in financial management and data analysis, with an emphasis on designing and implementing business strategies, plans and procedures</p>
            </div>
            <div class="col-6">
                <div class="img">
                    <img src="assets/img/team/6.png" alt="" />
                </div>
                <h3>Aleksey Selikhov</h3>
                <div class="position">Developer (Back-end)</div>
                <ul class="links">
                    <li><a href="mailto:aleksey@jibrel.network" class="icons icon-email"></a></li>
                    <li><a href="https://jibrelnetwork.slack.com/messages/@aleksey" class="icons icon-slack" target="_blank" rel="nofollow"></a></li>
                    <li><a href="https://www.linkedin.com/in/alexey-selikhov-341473b6" class="icons icon-linkedin" target="_blank" rel="nofollow"></a></li>
                </ul>
                <p>Aleksey has over 12 years' experience developing tech solutions for financial institutions. He has delivered full-stack solutions for both banks and investment funds. He is proficient at C++/C, Java, Python, JavaScript, Solidity.</p>
            </div>
        </div>
        <div class="row clear">
            <div class="col-6">
                <div class="img">
                    <img src="assets/img/team/8.png" alt="" />
                </div>
                <h3>Ivan Violentov</h3>
                <div class="position">Developer (Front-end)</div>
                <ul class="links">
                    <li><a href="mailto:ivan.violentov@jibrel.network" class="icons icon-email"></a></li>
                    <li><a href="https://jibrelnetwork.slack.com/messages/@ivanviolentov" class="icons icon-slack" target="_blank" rel="nofollow"></a></li>
                </ul>
                <p>Ivan has more than 5 years' of experience in web programming. He is especially skilled at developing financial solutions and applications. He specializes in full-stack development using Node, server-side, and React/Angular/Vue, client-side.</p>
            </div>
            <div class="col-6">
                <div class="img">
                    <img src="assets/img/team/10.png" alt="" />
                </div>
                <h3>Anna Bordunova</h3>
                <div class="position">Public Relations</div>
                <ul class="links">
                    <li><a href="mailto:anna@jibrel.network" class="icons icon-email"></a></li>
                    <li><a href="https://www.linkedin.com/in/anna-bordunova-54002467/" class="icons icon-linkedin" target="_blank" rel="nofollow"></a></li>
                </ul>
                <p>Anna is media and communications practitioner with 5+ years of experience in journalism, PR and social media. Her expertise spans traditional, experiential & digital marketing – with an emphasis on comprehensive Internet presence management.</p>
            </div>
        </div>
        <div class="row clear">
            <div class="col-6">
                <div class="img">
                    <img src="assets/img/team/11.png" alt="" />
                </div>
                <h3>Rust Khusyainov</h3>
                <div class="position">Illustrator</div>
                <ul class="links">
                    <li><a href="mailto:rustam.khusyainov@jibrel.network" class="icons icon-email"></a></li>
                </ul>
                <p>Rust has more than 7 years’ of experience in graphic design and illustration. He has created high quality content for clients across financial services, retail and sports. He specializes in raster and vector graphic and video editing.</p>
            </div>
            <div class="col-6"></div>
        </div>
    </div>
</div>
<div class="section careers">
    <div class="inner">
        <h2>Careers</h2>
        <div class="row clear">
            <div class="col-3">
                <a href="#">
                    <i class="icons"></i>
                    <h3>Front-End Developer</h3>
                </a>
            </div>
            <div class="col-3">
                <a href="#">
                    <i class="icons"></i>
                    <h3>Front-End Developer</h3>
                </a>
            </div>
            <div class="col-3">
                <a href="#">
                    <i class="icons"></i>
                    <h3>Front-End Developer</h3>
                </a>
            </div>
            <div class="col-3">
                <a href="#">
                    <i class="icons"></i>
                    <h3>Front-End Developer</h3>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="section footer">
    <div class="inner">
        <ul class="links">
            <li><a href="https://twitter.com/JibrelNetwork" class="icons big icon-big-twitter" target="_blank">Twitter</a></li>
            <li><a href="https://www.reddit.com/r/JibrelNetwork/" class="icons big icon-big-reddit" target="_blank">Reddit</a></li>
            <li><a href="https://bitcointalk.org/index.php?topic=2057487.0" class="icons big icon-big-bitcointalk" target="_blank">Bitcointalk</a></li>
            <li><a href="https://open.kakao.com/o/gJDnwxB" class="icons big icon-big-kakaotalk" target="_blank">Kakaotalk</a></li>
            <li><a href="https://medium.com/@jibrelnetwork" class="icons big icon-big-medium" target="_blank">Medium</a></li>
            <li><a href="https://www.youtube.com/watch?v=LBMyd7Ql8QU" class="icons big icon-big-youtube" target="_blank">Youtube</a></li>
            <li><a href="https://t.me/jibrelnetwork" class="icons big icon-big-telegram" target="_blank">Telegram</a></li>
            <li><a href="http://jibrel.io" class="icons big icon-big-slack" target="_blank">Slack</a></li>
        </ul>
        <p class="copy">© 2017 Jibrel Network. All Rights Reserved.<br />Baarerstrasse 10, 6302 Zug, Switzerland</p>
    </div>
</div>
</div>

<div class="remodal" data-remodal-id="form">
    <div class="remodal-header">
        <h2>Jibrel Network Token Pre-sale - <span id="steps-counter">Step 1/3</span></h2>
        <button data-remodal-action="close" class="remodal-close"></button>
    </div>
    <div class="remodal-content">
        <div class="steps step-1 active">
            <div class="notice">
                <p>Please note - contributions can be made using BTC or ETH.<br />Fiat contributions are accepted for amounts in excess of US$ 250,000.<br />To contribute using fiat currencies, please contact <span><a href="mailto:presale@jibrel.network">presale@jibrel.network</a></span><br /><br /></p>
                <p>Please confirm the following:</p>
            </div>
            <div class="field field-checkbox" id="checkbox1-container">
                <input type="checkbox" id="checkbox-1" name="checkbox1" />
                <label for="checkbox-1">I am not a citizen, permanent resident, or granted indefinite leave to remain in the US, Singapore or China - or any jurisdiction in which the purchase of Jibrel Network Token (JNT) is explicitly prohibited or outlawed.</label>
            </div>
            <div class="field field-checkbox" id="checkbox2-container">
                <input type="checkbox" id="checkbox-2" name="checkbox2" />
                <label for="checkbox-2">I hereby confirm that I have read and agree to the Jibrel Network Token Pre-sale and Sale <a href="assets/Jibrel%20Network%20Token%20Sales%20-%20T%26Cs.pdf">Terms &amp; Conditions</a> and that I am the ultimate beneficial owner (UBO) of the tokens.</label>
            </div>
        </div>
        <div class="steps step-2">
            <div class="notice">
                <p>Fields marked with * are mandatory.</p>
            </div>
            <div class="field field-input" id="fullname-container">
                <input type="text" placeholder="Full Name *" name="fullname" />
                <div class="error-text"></div>
            </div>
            <div class="field field-input" id="email-container">
                <input type="email" placeholder="Email *" name="email" />
                <div class="error-text"></div>
            </div>
            <div class="field field-input" id="emailconfirm-container">
                <input type="email" placeholder="Confirm Email Address *" name="emailconfirm" />
                <div class="error-text"></div>
            </div>
            <!--
                <div class="field field-input" id="phone-container">
                    <input type="text" placeholder="Phone Number: +1 (234) 5678900" name="phone" />
                </div>
            -->
            <div class="field field-input" id="country"></div>
            <div class="field field-input" id="citizenship"></div>
        </div>
        <div class="steps step-3">
            <div class="notice">
                <p>Please note, the minimum value for pre-sale participation is US$ 5,000.</p>
            </div>
            <div class="label">I would like to contribute:</div>
            <div class="field field-input" id="currency"></div>
            <div class="field field-input" id="amount-container">
                <input type="text" placeholder="Amount" name="amount" id="amount" />
                <div class="error-text"></div>
            </div>
            <div class="field field-input" id="captcha-container">
                <div id="grecaptcha"></div>
                <div class="error-text"></div>
            </div>
        </div>
        <div class="steps step-4">
            <p><img src="assets/img/form-ok.svg" alt="" /></p>
            <p>Thank you for your application to the Jibrel Network Public Pre-sale.</p>
            <p>Instructions on how to complete your Jibrel Network Token (JNT) pre-sale purchase have been sent to the provided email address.</p>
            <p>Thank you again for your interest in the Jibrel Network.</p>
            <p>Sincerely,<br />Jibrel Network Team</p>
        </div>
        <div class="steps step-5">
            <p><img src="assets/img/form-error.svg" alt="" /></p>
            <p>Ooops…<br />Something is wrong on the line<br />Please, send us email <a href="mailto:presale@jibrel.network">presale@jibrel.network</a></p>
            <p>Sincerely,<br />Jibrel Network Team</p>
        </div>
    </div>
    <div class="remodal-footer clear">
        <a href="#" class="pull-left hidden" id="previous-step">Previous step</a>
        <a href="#" class="pull-right disabled" id="next-step">Next step</a>
        <div id="loading" class="hidden">
            <div id="loading_1" class="loading"></div>
            <div id="loading_2" class="loading"></div>
            <div id="loading_3" class="loading"></div>
        </div>
    </div>
</div>


<script src="assets/js/vendor.min.js"></script>
<script src="assets/js/bundle.min.js"></script>

<script src="https://www.google.com/recaptcha/api.js?onload=initRecaptcha&render=explicit" async defer></script>

</body>
</html>
