<!doctype html>
<html>
  <head>
{% include "./html/partials/head/meta.html" %}
{% include "./html/partials/head/styles.html" %}
{% include "./html/partials/head/favicon.html" %}
{% include "./html/partials/head/gtm.html" %}
  </head>
  <body>
{% include "./html/partials/body/gtm-noscript.html" %}
{% include "./html/partials/body/ymetrika.html" %}
{% include "./html/partials/body/ganalytics.html" %}
    <div class="container remodal-bg">
{% include "./html/partials/body/header.html" %}
{% include "./html/partials/body/start.html" %}
{% include "./html/partials/body/countdown.html" %}
{% include "./html/partials/body/about.html" %}
{% include "./html/partials/body/roadmap.html" %}
{% include "./html/partials/body/jnt.html" %}
{% include "./html/partials/body/faq.html" %}
{% include "./html/partials/body/whitepaper.html" %}
{% include "./html/partials/body/advisors.html" %}
{% include "./html/partials/body/team.html" %}
{% include "./html/partials/body/careers.html" %}
{% include "./html/partials/body/footer.html" %}
    </div>
    <div class="remodal" data-remodal-id="form">
      <div class="remodal-header">
{% include "./html/partials/remodal/header.html" %}
      </div>
      <div class="remodal-content">
{% include "./html/partials/remodal/step1.html" %}
{% include "./html/partials/remodal/step2.html" %}
{% include "./html/partials/remodal/step3.html" %}
{% include "./html/partials/remodal/step4.html" %}
{% include "./html/partials/remodal/step5.html" %}
      </div>
      <div class="remodal-footer clear">
{% include "./html/partials/remodal/footer.html" %}
      </div>
    </div>
{% include "./html/partials/body/scripts.html" %}
  </body>
</html>
